<template>
  <div class="content_stats">
    <apexchart height="350" type="area" :options="options" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  components: {
    apexchart: VueApexCharts
  },
  data: () => ({
    options: {},
    series: [],
    local: {
      categories: [],
      colors: [],
      series: []
    }
  }),
  props: {
    colors: Object
  },
  methods: {
    init(stats) {
      this.stats = stats;
      this.processData();
      this.options = {
        colors: this.local.colors,
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: "smooth"
        },
        xaxis: {
          categories: this.local.categories
        },
        // yaxis: {
        //   labels: {
        //     formatter: function(val, index) {
        //       return val.toFixed(0);
        //     }
        //   }
        // },
        tooltip: {
          fixed: {
            enabled: false,
            position: "topRight"
          }
        }
      };
      this.series = this.local.series;
    },
    processData() {
      this.stats.contents.forEach((el, i) => {
        let obj = {};
        obj.name = el.name;
        obj.data = [];

        el.histogram_count.forEach(his => {
          //construct categories
          if (i == 0) {
            let date = this.getShortDate(Object.keys(his)[0]);
            this.local.categories.push(date);
          }
          obj.data.push(his[Object.keys(his)[0]]);
        });

        this.local.series.push(obj);

        if (el.name.toLowerCase() in this.colors)
          this.local.colors.push(this.colors[el.name.toLowerCase()]);
        else this.local.colors.push(this.colors["other"]);
      });
    },
    getShortDate(date) {
      var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      var d = new Date(date);
      return d.getDate() + " " + months[d.getMonth()];
    }
  }
};
</script>
