<template>
  <div class="m-2">
    <v-card class="mx-auto" min-width="320" max-width="324">
      <v-img v-if="item.image" :src="item.image[0].small.url" height="200px"></v-img>
      <v-img v-else src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img>

      <v-card-title v-if="item.title">{{item.title.slice(0,25)}}...</v-card-title>

      <v-card-subtitle>{{created}}</v-card-subtitle>

      <v-card-actions>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <!-- <b-button class="px-2 btn-icon btn-icon-only btn-shadow" v-on="on" variant="success"> -->
            <font-awesome-icon
              ref="icontype"
              size="2x"
              v-on="on"
              :icon="icon"
              :style="{color:color}"
            />
            <!-- </b-button> -->
          </template>
          <span>{{item.content_type}}</span>
        </v-tooltip>
        <v-spacer></v-spacer>
          <template >
            <toggle-button
              name="status"
              @change="onStatusChanged($event,item)"
              :disabled="!userCan('everything') && !userCan('content_edit')"
              :value="item.status"
              :labels="{checked: 'Active', unchecked: 'Inactive'}"
              :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
              :width="80"
              :height="30"
              class="m-auto"
            />
          </template>
          
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 m-1 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              :disabled="!userCan('everything') && !userCan('content_edit')"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 m-1 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              :disabled="!userCan('everything') && !userCan('content_delete')"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faUserSecret } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { ToggleButton } from "vue-js-toggle-button";
import {
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
} from "@fortawesome/free-brands-svg-icons";

library.add(
  faUserSecret,
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
);

export default {
  components: {
    "font-awesome-icon": FontAwesomeIcon,
    ToggleButton,
  },
  data: () => ({
    show: false
  }),
  props: {
    item: Object,
    icon: Array,
    color: String,
    created: String,
    user: Object
  },
  methods: {
    editItem(item) {
      this.$emit('edit',item);
    },
    deleteItem(item) {
      this.$emit('delete',item);
    },
    onStatusChanged(e, item) {
      this.$emit('toggle',e,item);
    },
    userCan(name) {
      return (
        this.user.roles[0].permissions.find(e => e.name == name) != undefined
      );
    },
  }
};
</script>