<template>
  <div class="content_stats">
    <apexchart width="100%" type="donut" :options="options" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  components: {
    apexchart: VueApexCharts
  },
  data: () => ({
    stats: {},
    options: {},
    series: [],
    local: {
      colors: [],
      labels: [],
      series: []
    }
  }),
  props: {
    colors: Object
  },
  methods: {
    init(stats) {
      this.stats = stats;
      this.processData();
      this.options = {
        labels: this.local.labels,
        colors: this.local.colors,
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  label: "Total Content",
                  show: true,
                  showAlways: true,
                  fontFamily: "Roboto, sans-serif",
                  color: "#000000"
                }
              }
            },
            expandOnClick: true
          }
        }
      };
      this.series = this.local.series;
    },
    processData() {
      this.stats.contents.forEach(el => {
        if (el.count > 0) {
          this.local.labels.push(el.name);
          this.local.series.push(el.count);

          if (el.name.toLowerCase() in this.colors)
            this.local.colors.push(this.colors[el.name.toLowerCase()]);
          else this.local.colors.push(this.colors["other"]);
        }
      });
    }
  }
};
</script>
