<template>
  <div>
    <v-snackbar v-model="showing" :color="color" :timeout="timeout">
      {{ text }}
        <v-icon @click="showing = false" style="color:white">pe-7s-close-circle</v-icon>
    </v-snackbar>
  </div>
</template>

<script>

export default {
  data: () => ({
    showing: false,
    color: "info",
    text: "Testing",
    timeout: 3000
  }),
  methods: {
    show(color, text) {
      this.color = "var(--"+color+")";
      this.text = text;
      this.showing = true;
    }
  }
};
</script>