<template>
  <div id="surveyCreatorContainer"></div>
</template>

<script>
import * as SurveyCreator from "survey-creator";
import "survey-creator/survey-creator.css";
import * as widgets from "surveyjs-widgets";
import "inputmask/dist/inputmask/phone-codes/phone.js";

var CkEditor_ModalEditor = {
  afterRender: function(modalEditor, htmlElement) {
    var editor = window["CKEDITOR"].replace(htmlElement);
    editor.on("change", function() {
      modalEditor.editingValue = editor.getData();
    });
    editor.setData(modalEditor.editingValue);
  },
  destroy: function(modalEditor, htmlElement) {
    var instance = window["CKEDITOR"].instances[htmlElement.id];
    if (instance) {
      instance.removeAllListeners();
      window["CKEDITOR"].remove(instance);
    }
  }
};
// SurveyCreator.SurveyPropertyModalEditor.registerCustomWidget(
//   "html",
//   CkEditor_ModalEditor
// );


export default {
  name: "survey-creator",
  data() {
    return {
      
    };
  },
  mounted() {
    let options = { showEmbededSurveyTab: true };
    this.surveyCreator = new SurveyCreator.SurveyCreator(
      "surveyCreatorContainer",
      options
    );
    //this.surveyCreator.loadSurvey("2e9e8a0e-ae59-47d3-96ab-808c0cabefdc");
    this.surveyCreator.saveSurveyFunc = function() {
      //console.log(JSON.stringify(this.text));
      console.log(this.text);
      //this.toSurvey(this.text)
    };
    
    
  },
  methods:{
    toSurvey(data){
       this.$emit("creatorData",data);
    }
  }
};
</script>
<style scoped>
</style>