<template>
  <div id="app">
    <component :is="layout" ref="layout">
      <transition name="fade" mode="out-in">
        <router-view @loggedIn="change"></router-view>
      </transition>
    </component>
  </div>
</template>

<script>

export default {
  data() {
    return {
      name: null,
      user_type: 0,
      isLoggedIn:
        localStorage.getItem(process.env.MIX_APP_NAME + ".jwt") != null
    };
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'pages') + '-layout'
    }
  },
  mounted() {
    this.setDefaults();
  },
  methods: {
    setDefaults() {
      if (this.isLoggedIn) {
        let user = JSON.parse(
          localStorage.getItem(process.env.MIX_APP_NAME + ".user")
        );
        this.name = user.name;
        this.user_type = user.role_id;
      }
    },
    change() {
      this.isLoggedIn =
        localStorage.getItem(process.env.MIX_APP_NAME + ".jwt") != null;
      this.setDefaults();
    },
    logout() {
      localStorage.removeItem(process.env.MIX_APP_NAME + ".jwt");
      localStorage.removeItem(process.env.MIX_APP_NAME + ".user");
      this.change();
      this.$router.push("/");
    }
  }
};
</script>

<style lang="ssss">
</style>
