<template>
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i :class="icon" />
        </div>
        <div>
          {{heading}}
          <div class="page-title-subheading">
            <!-- {{subheading}} -->
            <v-breadcrumbs :items="breadcrumb" class="p-0 m-0">
              <template v-slot:item="props">
                <a
                  :href="props.item.href"
                  :class="[props.item.disabled && 'disabled']"
                >{{ props.item.text }}</a>
              </template>
            </v-breadcrumbs>
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
                    <font-awesome-icon icon="star"/>
        </button>-->
        <!-- <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success"
                @click="$emit('create-new')">
                    <font-awesome-icon class="mr-2" icon="plus"/>
                    Create New
        </button>-->
      </div>
    </div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faStar, faPlus } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faStar, faPlus);

export default {
  components: {
    "font-awesome-icon": FontAwesomeIcon
  },
  props: {
    icon: String,
    heading: String,
    subheading: String,
    breadcrumb: Array
  }
};
</script>

<style scoped>
.disabled {
  color: grey;
  pointer-events: none;
}
</style>