<template>
  <div class="app-sidebar sidebar-shadow bg-royal text-lighter">
    <div class="app-header__logo" @click="toggleSidebar('top','closed-sidebar-open')">
      <!-- <div class="logo-src"/> -->
      <!-- <button type="button" class="hamburger hamburger--elastic" v-bind:class="{ 'is-active': showDrawerSection }"
                    v-on:click="showDrawerSection = !showDrawerSection">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>-->
      <div v-if="showlogo" style="margin-right:auto" class="logo-src" />
      <button type="button" class="hamburger hamburger--elastic">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <!-- <div v-if="showlogo">CMP</div> -->
    </div>
    <div class="app-sidebar-content" @click="toggleSidebar('bottom','closed-sidebar-open')">
      <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
        <sidebar-menu showOneChild :menu="menu" />
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import { SidebarMenu } from "vue-sidebar-menu";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  components: {
    SidebarMenu,
    VuePerfectScrollbar
  },
  data() {
    return {
      isOpen: false,
      sidebarActive: false,

      showDrawerSection: false,
      showlogo: false,

      menu: [
        {
          header: true,
          title: "Main Navigation"
        },
        {
          title: "Dashboard",
          icon: "pe-7s-monitor",
          href: "/"
        },

        {
          header: true,
          title: "Content Management"
        },
        {
          icon: "pe-7s-note",
          title: "Contents",
          href: "/contents"
        },
        {
          icon: "pe-7s-photo-gallery",
          title: "Content Types",
          href: "/content-types"
        },
        // {
        //   icon: "pe-7s-flag",
        //   title: "Countries",
        //   child: [
        //     {
        //       title: "Country X",
        //       child: [
        //         {
        //           title: "Standard",
        //           href: "/elements/buttons-standard"
        //         },
        //         {
        //           title: "Pills",
        //           href: "/elements/buttons-pills"
        //         },
        //         {
        //           title: "Square",
        //           href: "/elements/buttons-square"
        //         },
        //         {
        //           title: "Shadow",
        //           href: "/elements/buttons-shadow"
        //         },
        //         {
        //           title: "With Icons",
        //           href: "/elements/buttons-icons"
        //         }
        //       ]
        //     },
        //     {
        //       title: "Country X",
        //       href: "/elements/dropdowns"
        //     },
        //     {
        //       title: "Country X",
        //       href: "/elements/icons"
        //     },
        //     {
        //       title: "Country X",
        //       href: "/elements/badges-labels"
        //     },
        //     {
        //       title: "Country X",
        //       href: "/elements/cards"
        //     }
        //   ]
        // },
        // {
        //   icon: "pe-7s-global",
        //   title: "Industries",
        //   child: [
        //     {
        //       title: "Industry X",
        //       href: "/components/tabs"
        //     },
        //     {
        //       title: "Industry X",
        //       href: "/components/accordions"
        //     },
        //     {
        //       title: "Industry X",
        //       href: "/components/swal-alerts"
        //     },
        //     {
        //       title: "Industry X",
        //       href: "/components/modals"
        //     },
        //     {
        //       title: "Industry X",
        //       href: "/components/progress-bar"
        //     },
        //     {
        //       title: "Industry X",
        //       href: "/components/tooltips-popovers"
        //     }
        //   ]
        // },
        // {
        //   icon: "pe-7s-browser",
        //   title: "Projects",
        //   child: [
        //     {
        //       title: "List",
        //       href: "/tables/regular-tables"
        //     },
        //     {
        //       title: "Add New",
        //       href: "/tables/dynamic-tables"
        //     }
        //   ]
        // },
        // {
        //   icon: "pe-7s-ticket",
        //   title: "Tags",
        //   child: [
        //     {
        //       title: "Tag X",
        //       href: "/tables/regular-tables"
        //     },
        //     {
        //       title: "Tag X",
        //       href: "/tables/dynamic-tables"
        //     }
        //   ]
        // }
      ],
      menuSuper: [
        {
          header: true,
          title: "Admin Settings"
        },
        {
          icon: "pe-7s-users",
          title: "Users",
          href: "../users"
        },
        {
          icon: "pe-7s-note",
          title: "Roles",
          href: "../roles",
          child: [
            {
              title: "Permissions",
              href: "../permissions"
            }
          ]
        },
        {
          icon: "pe-7s-settings",
          title: "Settings",
          href: "../settings"
        }
      ],
      collapsed: true,
      windowWidth: 0
    };
  },
  props: {
    // sidebarbg: String,
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
    if(this.user != undefined) this.setup();
  },
  methods: {
    setup() {
      if (this.userCan("everything")) {
        this.menu = this.menu.concat(this.menuSuper);
      }
    },
    toggleSidebar(part, className) {
      const el = document.body;
      this.sidebarActive = !this.sidebarActive;

      this.windowWidth = document.documentElement.clientWidth;
      if (this.windowWidth > "992") {
        if (this.sidebarActive === true) {
          this.showlogo = true;
          el.classList.add(className);
        } else if (part == "bottom") {
          this.showlogo = true;
        } else {
          el.classList.remove(className);
          this.showlogo = false;
        }
      }
    },
    getWindowWidth() {
      const el = document.body;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth < "1600") {
        el.classList.add("closed-sidebar", "closed-sidebar-md");
      } else {
        el.classList.remove("closed-sidebar", "closed-sidebar-md");
      }
    },
    userCan(name) {
      return (
        this.user.roles[0].permissions.find(e => e.name == name) != undefined
      );
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);

      //Init
      this.getWindowWidth();
    });
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  }
};
</script>
