<template>
    <div>
        <div class="search-wrapper" v-bind:class="{ active: searchOpen }">
            <div class="input-holder">
                <input type="text" ref="inputSearch" v-model="query" v-on:keyup.enter="search" class="search-input" placeholder="Type to search"/>
                <button class="search-icon" v-on:click="search"><span/></button>
            </div>
            <button class="close" v-on:click="close"/>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                query: '',
                searchOpen: false,
            }
        },
        methods: {
            search() {
                this.searchOpen = true;
                this.$refs.inputSearch.focus();

                if(this.query != '')
                    this.$emit('search',this.query);
            },
            close() {
                this.searchOpen = !this.searchOpen;
                this.query = '';
                this.$emit('close');
            }
        }
    }
</script>

