<template>
  <div>
    <page-title :heading="heading" :subheading="subheading" :breadcrumb="breadcrumb" :icon="icon"></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />

    <div class="content">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <v-row class="px-3">
            <h5>Content Form</h5>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <b-button
                  class="px-2 btn-icon btn-icon-only"
                  v-on="on"
                  variant="primary"
                  @click="goBack"
                >
                  <v-icon color="#fff">pe-7s-back</v-icon>
                </b-button>
              </template>
              <span>Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <b-button
                  class="px-2 ml-2 btn-icon btn-icon-only"
                  v-on="on"
                  variant="primary"
                  @click="update"
                >
                  <v-icon color="#fff">pe-7s-upload</v-icon>
                </b-button>
              </template>
              <span v-text="actionType"></span>
            </v-tooltip>
          </v-row>
          <v-divider></v-divider>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-if="!isNewContent()"
                    v-model="content.content_id"
                    label="Content ID"
                    required
                    disabled
                    filled
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea v-model="content.title" label="Title" required filled></v-textarea>
                </v-col>

                <v-col cols="12">
                  <small>Body</small>
                  <quill-editor v-model="content.body" ref="myQuillEditor"></quill-editor>
                </v-col>

                <v-col cols="12">
                  <v-text-field v-model="content.url" label="URL" required filled></v-text-field>
                </v-col>

                <v-col cols="12">
                  <label>Post Type</label>
                  <v-data-table
                    :headers="postTypeHeaders"
                    hide-default-footer
                    :items="local.postType"
                    class="elevation-1"
                  >
                    <template v-slot:item.post_type_content="{item}">
                      <template>
                        <span>{{item.value}}</span>
                      </template>
                    </template>

                    <template v-slot:item.action="{ item }">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item,'postType')"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </template>
                  </v-data-table>
                  <b-button class="mt-2" @click="openEditDialog('Post Type')">Add New</b-button>
                </v-col>

                <v-col cols="12">
                  <label>Category</label>
                  <v-data-table
                    :headers="contentTypeHeaders"
                    hide-default-footer
                    :items="local.category"
                    class="elevation-1"
                  >
                    <template v-slot:item.category_id_content="{item}">
                      <template>
                        <span>{{item.category_id}}</span>
                      </template>
                    </template>

                    <template v-slot:item.category_name_content="{item}">
                      <template>
                        <span>{{item.name}}</span>
                      </template>
                    </template>

                    <template v-slot:item.action="{ item }">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item,'category')"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </template>
                  </v-data-table>
                  <b-button class="mt-2" @click="openEditDialog('Category')">Add New</b-button>
                </v-col>

                <v-col cols="12">
                  <label>Image</label>
                  <v-data-table
                    :headers="imageHeaders"
                    hide-default-footer
                    :items="local.image"
                    class="elevation-1"
                  >
                    <template v-slot:item.local.image="{item}">
                      <img :src="item.small.url" height="200px" alt class="m-2" />
                    </template>

                    <template v-slot:item.action="{ item }">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item,'image')"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </template>
                  </v-data-table>
                  <b-button class="mt-2" @click="openImageUpload('image')">Add New</b-button>
                </v-col>
                <v-divider></v-divider>
                <v-col cols="12">
                  <label>Featured Image</label>
                  <v-row>
                    <v-col class="border mx-3" v-if="local.featuredImage.small">
                      <img :src="local.featuredImage.small.url" height="200px" alt />
                    </v-col>
                  </v-row>

                  <!-- <v-data-table
                    :headers="featuredHeaders"
                    hide-default-footer
                    :items="local.featuredImage"
                    class="elevation-1"
                  >
                    <template v-slot:item.local.featuredImage="{item}">
                      <img :src="item.small.url" width="200px" height="200px" alt />
                    </template>

                    <template v-slot:item.action="{ item }">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item,'image')"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </template>
                  </v-data-table> -->
                  <b-button class="mt-2" @click="openImageUpload('featuredImage')" v-show="!local.featuredImage.small">Add New</b-button>
                </v-col>

                <v-col cols="12">
                  <label>Is Featured</label>
                  <v-spacer></v-spacer>
                  <toggle-button
                    v-model="content.featured"
                    :sync="true"
                    :labels="{checked: 'On', unchecked: 'Off'}"
                    :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                    :width="50"
                  />
                </v-col>

                <v-col cols="12">
                  <label>Status</label>
                  <v-spacer></v-spacer>
                  <toggle-button
                    v-model="content.status"
                    :sync="true"
                    :labels="{checked: 'On', unchecked: 'Off'}"
                    :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                    :width="50"
                  />
                </v-col>
                <v-col cols="12">
                  <label>Published Date/Time</label>
                  <v-spacer></v-spacer>
                  <v-card class="p-2">
                    <datetime
                      ref="datePublish"
                      type="datetime"
                      format="dd/MM/yyyy HH:mm:ss"
                      v-model="local.datePublish"
                      use12-hour
                    ></datetime>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <label>Un-published Date/Time</label>
                  <v-spacer></v-spacer>
                  <v-card class="p-2">
                    <datetime
                      ref="dateUnpublish"
                      type="datetime"
                      format="dd/MM/yyyy HH:mm:ss"
                      v-model="local.dateUnpublish"
                      use12-hour
                    ></datetime>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <label>Country</label>
                  <v-data-table
                    :headers="countryHeaders"
                    hide-default-footer
                    :items="local.country"
                    class="elevation-1"
                  >
                    <template v-slot:item.local.country="{item}">
                      <template>
                        <span>{{item.country_code}}</span>
                      </template>
                    </template>

                    <template v-slot:item.action="{ item }">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item,'country')"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </template>
                  </v-data-table>
                  <b-button class="mt-2" @click="openEditDialog('Country')">Add New</b-button>
                </v-col>

                <v-col cols="12">
                  <v-text-field v-model="content.code" label="Code" required filled></v-text-field>
                </v-col>

                <v-col cols="12">
                  <label>No delete</label>
                  <v-spacer></v-spacer>
                  <toggle-button
                    v-model="content.nodelete"
                    :sync="true"
                    :labels="{checked: 'On', unchecked: 'Off'}"
                    :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                    :width="50"
                  />
                </v-col>

                <v-col cols="12">
                  <label>No update</label>
                  <v-spacer></v-spacer>
                  <toggle-button
                    v-model="content.noupdate"
                    :sync="true"
                    :labels="{checked: 'On', unchecked: 'Off'}"
                    :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                    :width="50"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-spacer></v-spacer>
                <v-btn align="right" color="primary" class="mr-2" @click="goBack">Back</v-btn>
                <v-btn :loading="loading2" :disabled="loading2" color="primary" @click="update">
                  <span v-text="actionType"></span>
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </div>
      </div>
    </div>
    <ContentEditDialog ref="editDialog" @add="setSelectedData"></ContentEditDialog>
    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <ImageUpload ref="imageUpload" :options="dropzoneOptions" @success="updateImage"></ImageUpload>
  </div>
</template>
<script>
import ContentEditDialog from "./dialogs/ContentEditDialog.vue";
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import ImageUpload from "./dialogs/ImageUploadDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";

import { ToggleButton } from "vue-js-toggle-button";
import { quillEditor } from "vue-quill-editor";
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";

export default {
  components: {
    ContentEditDialog,
    ConfirmDialog,
    datetime: Datetime,
    ImageUpload,
    PageTitle,
    ToggleButton,
    quillEditor
  },
  data: () => ({
    heading: "Content",
    subheading: "Content view and edit",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Contents",
        disabled: false,
        href: "./../contents"
      },
      {
        text: "Content",
        disabled: true,
        href: "./content/"
      }
    ],

    contentTypeHeaders: [
      { text: "Id", align: "left", value: "category_id_content" },
      { text: "Name", align: "left", value: "category_name_content" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    postTypeHeaders: [
      { text: "Type", align: "left", value: "post_type_content" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    imageHeaders: [
      { text: "Type", align: "left", value: "local.image" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    featuredHeaders: [
      { text: "Type", align: "left", value: "local.featuredImage" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    countryHeaders: [
      { text: "Code", align: "left", value: "local.country" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],

    icon: "pe-7s-note icon-gradient bg-ripe-malin",
    loading: true,
    loading2: false,

    actionType: "Create",
    activeDialog: "",

    content: {
      content_id: "",
      created: "",
      title: "",
      body: "",
      url: ""
    },
    valid: false,
    dateISO: null,

    local: {
      datePublish: null,
      dateUnpublish: null,
      category: [],
      country: [],
      featuredImage: {},
      image: [],
      addImage: [],
      removeImage: [],
      postType: []
    },

    dropzoneOptions: {
      url: "./../api/content/image",
      params: {
        name: ""
      },
      autoProcessQueue: false,
      thumbnailWidth: 150,
      maxFilesize: 2,
      maxFiles: 1,
      headers: {
        Authorization:
          "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt")
      },
      sending: function(file, xhr, formData) {
          formData.append("_token", "{{ csrf_token() }}");
      }
    }
  }),
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.loading = true;
    this.initialize();
  },
  methods: {
    initialize() {
      if (!this.isNewContent()) {
        this.actionType = "Update";
        this.content.content_id = this.getContentIdFromUrl();
        this.getContentDetail();
      } else {
        this.actionType = "Create";
        this.loading = false;
        this.content.content_type = this.getContentIdFromUrl();
      }

      window.scrollTo(0, 0);
      this.user = JSON.parse(
        localStorage.getItem(process.env.MIX_APP_NAME + ".user")
      );
    },
    goBack() {
      this.$router.push({ name: "contents" });
    },
    openEditDialog(type) {
      this.activeDialog = type;
      this.$refs.editDialog.open(type);
    },
    openImageUpload(type) {
      this.activeDialog = type;
      if(type == "image")
        this.dropzoneOptions.params.name = type + this.local.image.length;
      else this.dropzoneOptions.params.name = type;
      this.$refs.imageUpload.open();
    },
    updateImage(response) {
      if (this.activeDialog == "image") {
        this.local.image.push({ small: { url: response.image } });
        this.local.addImage.push(response.image);
      } else if (this.activeDialog == "featuredImage") {
        this.local.featuredImage = { small: { url: response.image } };
      }
    },
    deleteItem(item, section) {
      this.$refs.confirmDialog.openEdit(item, section);
    },
    confirmDelete(value, item, section) {
      let array = [];
      if (value == true) {
        if (section == "postType") {
          array = this.local.postType;
        } else if (section == "category") {
          array = this.local.category;
        } else if (section == "image") {
          array = this.local.image;
          this.setRemoveImage(item);
        } else if (section == "country") {
          array = this.local.country;
        }
        let index = array.indexOf(item);
        array.splice(index, 1);
      }
    },
    update() {
      let _this = this;
      let url = `./../../api/content`;
      if (!this.isNewContent())
        url = `./../api/content/${this.content.content_id}`;

      this.loading2 = true;

      if (this.local.datePublish != "") {
        this.content.created = this.getTimestamp(this.local.datePublish);
        this.local.datePublish = this.getTime(this.content.created);
      }

      if (this.local.postType != undefined) {
        this.content.post_type = [];
        this.local.postType.forEach(function(arr) {
          _this.content.post_type.push(arr.value);
        });
      }

      if (this.local.country != undefined) {
        this.content.country = [];
        this.local.country.forEach(function(arr) {
          _this.content.country.push(arr.country_code);
        });
      }

      let params = {
        title: this.content.title,
        body: this.content.body,
        url: this.content.url,
        content_type: this.content.content_type,
        post_type: this.content.post_type,
        featured: this.content.featured,
        status: this.content.status,
        created: this.content.created,
        nodelete: this.content.nodelete,
        noupdate: this.content.noupdate,
        country: this.content.country,
        remove_image: this.local.removeImage
      };
      //for testing
      // this.local.addImage[0] = 'https://res.cloudinary.com/innity/image/upload/v1583916970/contenthub-admin/content-temp/gerard_pvzdt2.jpg';
      if (this.local.addImage.length > 0) params["image"] = this.local.addImage;
      if (this.local.featuredImage.small) params["featured_image"] = this.local.featuredImage.small.url;

      axios.put(url, params).then(response => {
        this.loading2 = false;
        if (response.data.success) {
          this.content = response.data.data;
          this.$root.$children[0].$children[0].$refs.snackbar.show(
            "success",
            this.isNewContent()
              ? "Content has been created"
              : "Content has been updated"
          );
          if (this.isNewContent()) setTimeout(this.redirectToEdit, 1000);
        }
      });
    },
    getContentDetail() {
      let _this = this;
      let url = "./../api/contents/" + this.content.content_id;
      axios.get(url).then(response => {
        this.loading = false;
        this.content = response.data.data;
        this.local.datePublish = this.getTime(this.content.created);
        if(this.content.post_type) this.local.postType = this.content.post_type;  
        if(this.content.category) this.local.category = this.content.category;
        if(this.content.country) this.local.country = this.content.country;
        if(this.content.image) this.local.image = this.content.image;
        if(this.content.featured_image) this.local.featuredImage = this.content.featured_image;
      });
    },
    getContentIdFromUrl() {
      var array = window.location.href.split("/");
      return array[array.length - 1];
    },
    getTime(data) {
      let date = new Date(data);
      return date.toISOString();
    },
    getTimestamp(data) {
      let timestamp = Date.parse(data);
      return timestamp;
    },
    setSelectedData(value, item) {
      switch (value) {
        case "Post Type":
          if (!this.contains("value", item, this.local.postType)) {
            this.local.postType.push({ value: item });
          }
          break;
        case "Category":
          if (!this.contains("category_id", item, this.local.category)) {
            this.local.category.push({ category_id: item });
          }
          break;
        case "Country":
          if (!this.contains("country_code", item, this.local.country)) {
            this.local.country.push({ country_code: item });
          }
          break;
      }
    },
    setRemoveImage(item) {
      if (item.small != undefined) this.local.removeImage.push(item.small.url);
      if (item.original != undefined)
        this.local.removeImage.push(item.original.url);
      if (item.medium != undefined)
        this.local.removeImage.push(item.medium.url);
      if (item.large != undefined) this.local.removeImage.push(item.large.url);
    },
    contains(key, str, list) {
      return list.some(elem => elem[key] === str);
    },
    redirectToEdit() {
      this.$router.push({
        path: `../../content/${this.content.content_id}`
      });
      this.initialize();
    },
    isNewContent() {
      return this.$router.currentRoute.name.indexOf("new") != -1;
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  }
};
</script>
<style lang="css">
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>