<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <div>
      <template>
        <v-form>
          <v-container style="background-color:white">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <b-button
                  class="my-3 px-2 btn-icon btn-icon-only"
                  v-on="on"
                  variant="primary"
                  @click="goBack"
                >
                  <v-icon color="#fff">pe-7s-back</v-icon>
                </b-button>
              </template>
              <span>Back</span>
            </v-tooltip>
            <v-layout wrap>
              <v-flex md12>
                <v-text-field filled label="Name" v-model="contentName"></v-text-field>
              </v-flex>

              <v-flex md12>
                <v-text-field filled label="Description" v-model="contentDescription"></v-text-field>
              </v-flex>

              <v-flex md12>
                <v-data-table
                  :headers="headers"
                  loading="true"
                  :items="fields"
                  item-key="id"
                  sort-by="id"
                  :items-per-page="30"
                  hide-default-footer
                  class="elevation-1"
                >
                  <template v-slot:item.hiddenField="{ item }">
                    <toggle-button
                      name="hiddenField"
                      @change="onHiddenChanged($event,item)"
                      :labels="{checked: 'Active', unchecked: 'Inactive'}"
                      :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                      :width="70"
                      :value="isSelectedHidden(item)"
                    />
                  </template>

                  <template v-slot:item.displayField="{ item }">
                    <toggle-button
                      name="displayField"
                      v-show="isEssential(item)"
                      @change="onDisplayChanged($event,item)"
                      :value="isSelectedDisplay(item)"
                      :disabled="!userCan('everything') && !userCan('content_edit')"
                      :labels="{checked: 'Active', unchecked: 'Inactive'}"
                      :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
                      :sync="true"
                      :width="70"
                    />
                  </template>

                  <template v-slot:item.action="{ item }">
                    <v-chip v-if="item.default" small dark color="secondary">
                      <span>Predefined</span>
                    </v-chip>
                    <v-chip v-else-if="item.deleted" small dark color="red">
                      <span>Deleted</span>
                    </v-chip>
                    <div v-else>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="mr-1 px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="warning"
                            @click="editItem(item)"
                          >
                            <v-icon small>edit</v-icon>
                          </b-button>
                        </template>
                        <span>Edit</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <b-button
                            class="px-2 btn-icon btn-icon-only"
                            v-on="on"
                            variant="danger"
                            @click="deleteItem(item)"
                          >
                            <v-icon small>delete</v-icon>
                          </b-button>
                        </template>
                        <span>Delete</span>
                      </v-tooltip>
                    </div>
                  </template>
                </v-data-table>
              </v-flex>
              <div class="mt-3">
                <v-btn color="primary" @click="addDialog">Add Field</v-btn>
              </div>
              <v-spacer></v-spacer>
              <div class="mt-3">
                <v-btn align="right" color="secondary" class="mr-2" @click="goBack">Back</v-btn>
                <v-btn color="primary" @click="submit">Submit</v-btn>
              </div>
            </v-layout>
          </v-container>
        </v-form>
      </template>
    </div>
    <div></div>
    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <ContentTypeAddFieldDialog ref="addDialog" @save="addField"></ContentTypeAddFieldDialog>
  </div>
</template>

<script>
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import ContentTypeAddFieldDialog from "./dialogs/ContentTypeAddFieldDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";
import { ToggleButton } from "vue-js-toggle-button";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  components: {
    ContentTypeAddFieldDialog,
    ConfirmDialog,
    PageTitle,
    ToggleButton,
    "font-awesome-icon": FontAwesomeIcon
  },
  data: () => ({
    heading: "Content-Type-Form",
    subheading: "Dashboard for content type management",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./dashboard"
      },
      {
        text: "Content Types",
        disabled: false,
        href: "./../content-types"
      },
      {
        text: "Content Type",
        disabled: true,
        href: "/content-type"
      }
    ],
    icon: "pe-7s-note2 icon-gradient bg-ripe-malin",
    contentName: "",
    contentDescription: "",
    removeField:[],
    lengthFields:0,

    // dataField:[
    //     {fieldName:'title' , fieldLabel:'Title', dataType:'text'},
    //     {fieldName:'body', fieldLabel:'Body', dataType:'text' },
    //     {fieldName:'url', fieldLabel:'Url', dataType:'keyword'},
    //     {fieldName:'post_type', fieldLabel:'Post Type', dataType:'nested'},
    //     {fieldName:'category', fieldLabel:'Category', dataType:'nested'},
    //     {fieldName:'image', fieldLabel:'Images', dataType:'nested_image'},
    //     {fieldName:'featured_image', fieldLabel:'Featured Image', dataType:'image'},
    //     {fieldName:'featured', fieldLabel:'Is Featured', dataType:'boolean'},
    //     {fieldName:'status', fieldLabel:'Status', dataType:'boolean'},
    //     {fieldName:'publish', fieldLabel:'Published Date/Time', dataType:'date'},
    //     {fieldName:'unpublish', fieldLabel:'Un-published Date/Time', dataType:'date'},
    //     {fieldName:'country', fieldLabel:'Country', dataType:'nested'},
    //     {fieldName:'code', fieldLabel:'Code', dataType:'keyword'},
    //     {fieldName:'nodelete', fieldLabel:'No Delete', dataType:'boolean'},
    //     {fieldName:'noupdate', fieldLabel:'No Update', dataType:'boolean'},
    // ],

    headers: [
      { text: "Field Name", align: "left", value: "name", sortable: false },
      { text: "Field Label", align: "left", value: "label", sortable: false },
      { text: "Data Type", align: "left", value: "datatype", sortable: false },
      { text: "Hidden", align: "center", value: "hiddenField", sortable: false },
      {
        text: "Display Field",
        align: "center",
        value: "displayField",
        sortable: false
      },
      {
        text: "Action",
        align: "right",
        value: "action",
        sortable: false,
        width: "110px"
      }
    ],

    contents: [], 
    fieldName: [],
    fields: [],
    content_type_url: "",
    loading: true,
    user: {},
    dataHidden: [],
    displayField: [],
    hiddenField:[],
    arrayDisplayFields: ["title", "body", "url", "code"],
    hiddenCopy:{}
    
  }),
  props: {},
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
    this.initialize();
    this.loading = true;
    window.store.commit("queryData", this.allTypes);
  },
  methods: {
    initialize() {
      this.content_type_url = this.getContentIdFromUrl();
      this.getContentTypes();
    },
    addItem(item) {
      this.$router.push({ path: `content/new/${item.value}` });
    },
    editItem(item) {
      this.$refs.addDialog.open(item);
    },
    openFilterDialog() {
      this.$refs.filterDialog.open();
    },
    filterItem(query) {
      this.query = query;
      window.store.commit("queryData", this.query);
      this.getContents();
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      let obj ={deleted:true};
      let objDeleted={remove_fields:this.removeField}
      Object.assign(item, obj);
      this.removeField.push(item.name);
      Object.assign(this.contents,objDeleted);

      let index =this.fields.indexOf(this.fields.find(x => x.name == item.name));
      this.fields.splice(index,1,item);     
    },
    onHiddenChanged(e, item) {
      let nameobj = item.name;
      
      let objHiddenActive = {};
      objHiddenActive[nameobj] = true;

      let objConfig ={}
      objConfig['config']={}
      let objHidden={};
      objHidden['hidden']={};
 
      if ("config" in this.contents){
        if ("hidden" in this.contents.config){

            if (e.value == true) {
              Object.assign(this.contents.config.hidden, objHiddenActive);
            }
            if(e.value == false){
              delete this.contents.config.hidden[nameobj];
            }
            this.hiddenCopy={...this.contents.config.hidden}
          
        }else{
          Object.assign(this.contents.config, objHidden);
        }
      }else{
          Object.assign(this.contents, objConfig);
      }
    },
    onDisplayChanged(e, item) {

      let objConfig ={}
      objConfig['config']={}
      let objDisplay={};
      objDisplay['display']=item.name;
      
      
      if ("config" in this.contents){
        if ("display" in this.contents.config){
          
              this.contents.config.display = item.name;
              Object.assign(this.contents.config.display, objDisplay);
       
        }else{
          Object.assign(this.contents.config, objDisplay);
        }
      }else{
          Object.assign(this.contents, objConfig);
      }
    },
    
    getContentTypes() {
   
      let url = "./../api/content-type/" + this.content_type_url;
      axios.get(url).then(response => {
        this.contents = response.data.data;
        this.loading = false;
        this.contentName = this.contents.name;
        this.contentDescription = this.contents.description;
        this.fields = this.contents.fields;
        this.lengthFields = this.contents.fields.length;

        if ("config" in response.data.data) {
          if ("hidden" in response.data.data.config) {
            let dataMatch = [];
            let indexs = [];
            let currentField = [];
            //result = this.fields;
            let objectValue = { hidden: true };
            let objectValueF = { hidden: false };
            let fieldsAdd = [];

            for (const [key, value] of Object.entries(
              response.data.data.config.hidden
            )) {
              dataMatch.push(key);
            }

            for (let x = 0; x < this.fields.length; x++) {
              for (let y = 0; y < dataMatch.length; y++) {
                if (this.fields[x].name == dataMatch[y]) {
                  let index;
                  let fieldAdd;
                  index = this.fields.indexOf(this.fields[x]);
                  indexs.push(index);

                  currentField = this.fields[x];

                  fieldAdd = Object.assign(currentField, objectValue);
                  fieldsAdd.push(fieldAdd);
                }
              }
            }
          }
        } else {
          this.dataHidden = false;
          this.displayField = false;
        }
      });
    },
    getContentIdFromUrl() {
      var array = window.location.href.split("/");
      return array[array.length - 1];
    },
    isEssential(data) {
      
      if((data.datatype=='text')||(data.datatype=='keyword')){
        return true
      }
      //return this.arrayDisplayFields.indexOf(data.name) > -1;
    },
    isSelectedDisplay(item) {
      
      let objConfig ={}
      objConfig['config']={}
      let objDisplay={};
      objDisplay['display']={};

      if ("config" in this.contents){
        if ("display" in this.contents.config){
            
            if(this.isEmpty(this.contents.config.display)){
         
            }else{
              return item.name == this.contents.config.display;      
            }
                           
        }else{
          Object.assign(this.contents.config, objDisplay);
        }
      }else{
          Object.assign(this.contents, objConfig);
      }

    },
    isSelectedHidden(item){
      if ("config" in this.contents){
        if ("hidden" in this.contents.config){
          return item.hidden;
        }
      }else{
       
      }

    },
    userCan(name) {
      return (
        this.user.roles[0].permissions.find(e => e.name == name) != undefined
      );
    },
    goBack() {
      this.$router.push({ name: "content-types" });
    },
    submit() {
      this.contents.name = this.contentName;
      this.contents.description = this.contentDescription;

      let obj = { return_default_fields: true };
      Object.assign(this.contents, obj);
      let dataClone={}
      dataClone =JSON.parse(JSON.stringify(this.contents))
      
      let lengthOri=this.lengthFields-15;
      dataClone.fields.splice(0,15);
      dataClone.config.hidden=this.hiddenCopy;
      let lengthClone = dataClone.fields.length;

      for(let i=lengthClone; i>lengthOri; i--){
        let newName =dataClone.fields[i-1].name.replace(this.getContentIdFromUrl()+'_','');
        let replaceObj=dataClone.fields[i-1];
        replaceObj.name=newName;
        dataClone.fields.splice(i-1,1,replaceObj)

      }

      axios
        .put("./../api/content-type/" + this.contents.content_type, dataClone)
        .then(response => {
           this.$root.$children[0].$children[0].$refs.snackbar.show("success","Updated successfully");
        });
        
    },
    addDialog() {
      this.$refs.addDialog.open();
    },
    addField(value) {

      let paramName=value.name.replace(this.getContentIdFromUrl()+'_','');

      let params={
        'name':paramName,
        'label':value.label,
        'datatype':value.datatype,
        'model':value.model,
      }

      let paramsDisplay={
        'name':value.name,
        'label':value.label,
        'datatype':value.datatype,
        'model':value.model,
      }

      if(value.type !='edit'){
        let objConfig ={}
        objConfig['config']={}
        let objOrdering={};
        objOrdering['ordering']=[];
        
        
        this.fields.push(paramsDisplay);
        this.arrayDisplayFields.push(value.name);
        
        if ("config" in this.contents){
          if ("ordering" in this.contents.config){
            this.contents.config.ordering.push(value.name); 
          }else{
            Object.assign(this.contents.config, objOrdering);
          }
        }

      }else{
        console.log(value.prevName)
        let index =this.fields.indexOf(this.fields.find(x => x.name == value.prevName));
        this.fields.splice(index,1,paramsDisplay);
  
      }
      
    },
    isEmpty(obj) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar-mask {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .cut-text {
    width: 350px;
  }
}

.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}
.v-application .success {
  background-color: #3ac47d !important;
}
</style>
