<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <div>
      <v-toolbar flat color="white">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              v-show="selected.length>0"
              class="px-2 mr-2 btn-icon btn-icon-only"
              v-on="on"
              @click="deleteSelected"
              variant="danger"
            >
              <v-icon>delete</v-icon>
            </b-button>
          </template>
          <span>Delete selected</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              @click="openFilterDialog"
              variant="secondary"
            >
              <v-icon dark>pe-7s-filter</v-icon>
            </b-button>
          </template>
          <span>Filter</span>
        </v-tooltip>

        <v-divider class="mx-4" inset vertical></v-divider>

        <div class="btn-group" role="group" aria-label="Basic example">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="changeListView"
                variant="secondary"
                :pressed="listViewActive"
              >
                <v-icon dark>pe-7s-menu</v-icon>
              </b-button>
            </template>
            <span>List View</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="changeGridView"
                variant="secondary"
                :pressed="!listViewActive"
              >
                <v-icon dark>pe-7s-photo</v-icon>
              </b-button>
            </template>
            <span>Grid View</span>
          </v-tooltip>
        </div>
        <v-spacer></v-spacer>

        <v-spacer></v-spacer>

        <v-menu offset-y>
          <template v-slot:activator="{ on: menu }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  color="success"
                  class="pr-1"
                  dark
                  v-on="{ ...tooltip, ...menu }"
                  :disabled="!userCan('everything') && !userCan('content_add')"
                >
                  Create New
                  <v-icon dark>pe-7s-angle-down</v-icon>
                </v-btn>
              </template>
              <span>Create New Content</span>
            </v-tooltip>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in contentTypes" :key="index" @click="addItem(item)">
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar>
    </div>

    <v-data-table
      :headers="headers"
      loading="true"
      :items="contents"
      item-key="id"
      sort-by="id"
      :items-per-page="20"
      hide-default-footer
      class="elevation-1"
      v-if="listViewActive"
    >
      <template v-slot:header.check_box>
        <b-form-checkbox @change="selectedAll"></b-form-checkbox>
      </template>

      <template v-slot:item.check_box="{item}">
        <b-form-checkbox class="ckb" v-model="selected" :value="item"></b-form-checkbox>
      </template>

      <template v-slot:item.title="{ item }">
        <span v-if="item.title" class="cut-text">{{item.title.slice(0, 100)}}</span>
      </template>

      <template v-slot:item.content_type="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <font-awesome-icon
              ref="icontype"
              size="lg"
              v-on="on"
              :icon="getIcon(item.content_type)"
              :style="{color:getColor(item.content_type)}"
            />
          </template>
          <span>{{item.content_type}}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.created_at="{item}">
        <span>{{getDateTime(item.created)}}</span>
      </template>

      <template v-slot:item.status="{ item }">
        <toggle-button
          name="status"
          @change="onStatusChanged($event,item)"
          :disabled="!userCan('everything') && !userCan('content_edit')"
          :value="item.status"
          :labels="{checked: 'Active', unchecked: 'Inactive'}"
          :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
          :width="70"
        />
      </template>

      <template v-slot:item.action="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              :disabled="!userCan('everything') && !userCan('content_edit')"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              :disabled="!userCan('everything') && !userCan('content_delete')"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <div class="d-flex flex-wrap justify-center" style="background:#fff" v-if="!listViewActive">
      <ContentCard
        v-for="(item,index) in contents"
        :item="item"
        :key="index"
        :created="getDateTime(item.created)"
        :icon="getIcon(item.content_type)"
        :color="getColor(item.content_type)"
        :user="user"
        @toggle="onStatusChanged"
        @edit="editItem"
        @delete="deleteItem"
      ></ContentCard>
    </div>

    <SocialContentDialog ref="socialContentDialog" @save="save"></SocialContentDialog>

    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <ContentFilterDialog
      ref="filterDialog"
      :allTypes="allTypes"
      :contentTypes="contentTypes"
      @submit="filterItem"
      @reset="resetFilter"
    ></ContentFilterDialog>

    <div class="text-xs-center v-data-table elevation-1 theme--light">
      <br />
      <ul class="v-pagination v-pagination--circle theme--light">
        <li>
          <button @click="getContents('prev')" v-show="prevUrl" class="v-pagination__navigation">
            <v-icon class="v-icon notranslate mdi mdi-chevron-left theme--light"></v-icon>
          </button>
        </li>
        <li>
          <button @click="getContents('next')" v-show="nextUrl" class="v-pagination__navigation">
            <v-icon class="v-icon notranslate mdi mdi-chevron-right theme--light"></v-icon>
          </button>
        </li>
        <li style="position:absolute; right:10px">
          <v-chip color="secondary" text-color="white">
            <v-icon>info</v-icon>
            Total: {{totalItem}}
          </v-chip>
        </li>
      </ul>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import ContentCard from "./components/ContentCard.vue";
import ContentFilterDialog from "./dialogs/ContentFilterDialog.vue";
import SocialContentDialog from "./dialogs/SocialContentDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";
import { ToggleButton } from "vue-js-toggle-button";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  components: {
    ConfirmDialog,
    ContentCard,
    ContentFilterDialog,
    SocialContentDialog,
    PageTitle,
    ToggleButton,
    "font-awesome-icon": FontAwesomeIcon
  },
  data: () => ({
    heading: "Contents",
    subheading: "Dashboard for content management",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Contents",
        disabled: true,
        href: "/contents"
      }
    ],
    icon: "pe-7s-note2 icon-gradient bg-ripe-malin",

    nextUrl: "",
    prevUrl: "",
    selected: [],
    headers: [
      { align: "left", value: "check_box", sortable: false },
      { text: "ID", align: "left", value: "content_id" },
      { text: "Type", align: "left", value: "content_type" },
      { text: "Title", align: "center", value: "title" },
      { text: "Created At", value: "created_at" },
      { text: "Status", align: "center", value: "status" },
      {
        text: "Action",
        align: "right",
        value: "action",
        sortable: false,
        width: "110px"
      }
    ],

    icons: {
      facebook: { color: "#3b5998", class: ["fab", "facebook-square"] },
      twitter: { color: "#00acee", class: ["fab", "twitter-square"] },
      instagram: { color: "#c13584", class: ["fab", "instagram-square"] },
      youtube: { color: "#c4302b", class: ["fab", "youtube-square"] },
      weibo: { color: "#df2029", class: ["fab", "weibo"] },
      other: { color: "#333333", class: ["fas", "user-secret"] }
    },

    contents: [],
    nextQuery: {},
    prevQuery: {},
    query: {
      content_id: null,
      brand: null,
      title: null,
      content_type: null,
      sort: "created",
      order: null,
      after: null
    },
    totalItem: 0,

    // contentTypes: [
    //   { value: "facebook", text: "Facebook" },
    //   { value: "instagram", text: "Instagram" },
    //   { value: "youtube", text: "Youtube" },
    //   { value: "twitter", text: "Twitter" },
    //   { value: "weibo", text: "Weibo" }
    // ],
    contentTypes: [],
    customContentTypes: [],
    allTypes: [],

    listViewActive: true,
    loading: true,
    user: {}
  }),
  props: {},
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
    this.initialize();
    this.loading = true;
    // window.store.commit("queryData", this.allTypes);
  },
  methods: {
    initialize() {
      this.setAllTypes();
      this.getContentTypes();
      this.getContents();
    },
    addItem(item) {
      if (this.customContentTypes.indexOf(item) != -1)
        this.$router.push({ path: `content/new/${item.value}` });
      else this.$refs.socialContentDialog.open(item);
    },
    editItem(item) {
      this.$router.push({ path: `content/${item.content_id}` });
    },
    openFilterDialog() {
      this.$refs.filterDialog.open();
    },
    filterItem(query) {
      this.query = query;
      window.store.commit("queryData", this.query);
      this.getContents();
    },
    resetFilter() {
      this.query.content_id = null;
      this.query.content_type = null;
      this.query.brand = null;
      this.query.title = null;
      this.query.sort = null;
      this.query.order = null;
      this.getContents();
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      let contentArr = [];
      let index = [];

      if (value == true) {
        if (item.content_id == "" || item.content_id == undefined) {
          for (let i = 0; i < item.length; i++) {
            contentArr.push(item[i]);
            index.push(this.contents.indexOf(contentArr[i]));
          }
        } else {
          contentArr[0] = item;
          index[0] = this.contents.indexOf(contentArr);
        }

        for (let x = 0; x < contentArr.length; x++) {
          axios
            .delete(`./api/content/${contentArr[x].content_id}`)
            .then(response => {
              if (response.data.success) {
                this.contents = this.contents.filter(function(el) {
                  return el.content_id != contentArr[x].content_id;
                });
              }
            });
        }
        this.selected = [];
      }
    },
    save(content) {
      this.addToDatabase(content);
    },
    onStatusChanged(e, item) {
      item.status = e.value;
      this.updateDatabase(item);
    },
    addToDatabase(content) {
      this.loading = true;
      this.$root.$children[0].$children[0].$refs.snackbar.show(
        "primary",
        "Fetching information. Please wait..."
      );
      axios.post("../api/social-content", content).then(response => {
        this.$router.push({ path: `content/${response.data.data.content_id}` });
      });
    },
    updateDatabase(content) {
      axios
        .put(`./api/content/${content.content_id}`, {
          status: content.status
        })
        .then(response => {});
    },
    changeListView() {
      this.listViewActive = true;
    },
    changeGridView() {
      this.listViewActive = false;
    },
    getIcon(type) {
      if (type in this.icons) return this.icons[type].class;
      else return this.icons["other"].class;
    },
    getColor(type) {
      if (type in this.icons) return this.icons[type].color;
      else return this.icons["other"].color;
    },
    getContentTypes() {
      let urlContentType = "../api/content-types";
      axios.get(urlContentType, { params: {} }).then(response => {
        this.setCustomContentTypes(response.data.data);
      });

      let urlBrand = "./api/content-types/brand";
      axios.get(urlBrand, { params: {} }).then(response => {
        let resData = response.data.data[0].sources;

        for (let i = 0; i < resData.length; i++) {
          let obj = { value: resData[i].channel, text: resData[i].channel };
          this.contentTypes.unshift(obj);
        }
      });
    },
    getContents(nav = "") {
      this.loading = true;
      let url = "./api/contents/";
      let paramData = {};

      paramData = this.getParamsQuery(nav);

      axios.get(url, { params: paramData }).then(response => {
        this.contents = response.data.data;
        this.totalItem = response.data.total;

        if ("paging" in response.data) {
          if ("next" in response.data.paging) {
            this.nextUrl = response.data.paging.next;
            this.nextQuery.after = response.data.paging.cursors.after; //this.getParamFromUrl(this.nextUrl, "after");
          } else this.nextUrl = "";

          if ("before" in response.data.paging) {
            this.prevUrl = response.data.paging.before;
            this.prevQuery.after = response.data.paging.cursors.before; //this.getParamFromUrl(this.prevUrl, "after");
          } else this.prevUrl = "";
        } else {
          this.nextUrl = "";
          this.prevUrl = "";
        }
        this.loading = false;
        window.scrollTo(0, 0);
      });
    },
    getDateTime(timestamp) {
      var date = new Date(timestamp);
      return date.toLocaleString();
    },
    getParamsQuery(nav) {
      let _this = this;
      let param = {};
      
      this.query = window.store.state.query;
      
      if (nav == "prev") param.after = this.prevQuery.after;
      else if (nav == "next") param.after = this.nextQuery.after;

      //this condition is critical, for maintaining page after edit
      if((this.query.after == undefined && param.after != undefined) || param.after != undefined) {
        this.query.after = param.after;
      }

      Object.keys(this.query).forEach(function(key) {
        if (_this.query[key] != null && _this.query[key] != "") {
          param[key] = _this.query[key];
        }
      });
      
      window.store.commit("queryData", this.query);
      return param;
    },
    getParamFromUrl(url, key) {
      var _url = new URL(url);
      var value = _url.searchParams.get(key);
      return value;
    },
    setAllTypes() {
      this.contentTypes.forEach((val, index) => {
        this.allTypes.push(val.value);
      });
    },
    setCustomContentTypes(types) {
      types.forEach((val, index) => {
        let obj = {
          value: val.content_type,
          text: val.content_type
        };
        //content type issues
        this.contentTypes.push(obj);
        this.customContentTypes.push(obj);
        this.allTypes.push(val.content_type);
      });
    },
    userCan(name) {
      return (
        this.user.roles[0].permissions.find(e => e.name == name) != undefined
      );
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    deleteSelected() {
      if (
        this.selected != null &&
        this.selected != undefined &&
        this.selected != ""
      ) {
        this.$refs.confirmDialog.open(this.selected);
      }
    },
    selectedAll(e) {
      this.selected = [];

      if (e == true) {
        for (let i = 0; i < this.contents.length; i++) {
          this.selected.push(this.contents[i]);
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar-mask {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .cut-text {
    width: 350px;
  }
}

.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}
.v-application .success {
  background-color: #3ac47d !important;
}
</style>
