<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <div>
      <v-toolbar flat color="white">
       
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              v-show="selected.length>0"
              class="px-2 mr-2 btn-icon btn-icon-only"
              v-on="on"
              @click="deleteSelected"
              variant="danger"
            >
              <v-icon>delete</v-icon>
            </b-button>
          </template>
          <span>Delete selected</span>
        </v-tooltip>

        <v-spacer></v-spacer>

        <v-menu offset-y>
          <template v-slot:activator="{ on: menu }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <v-btn
                  color="success"
                  class="pr-1"
                  dark
                  v-on="{ ...tooltip, ...menu }"
                  @click="createDialog"
                  :disabled="!userCan('everything') && !userCan('content_add')"
                >
                  Create New
                  <v-icon dark class='mx-2'>pe-7s-plus</v-icon>
                </v-btn>
              </template>
              <span>Create New</span>
            </v-tooltip>
          </template>
     
        </v-menu>
      </v-toolbar>
    </div>

    <v-data-table
      :headers="headers"
      loading="true"
      :items="contents"
      item-key="id"
      sort-by="id"
      :items-per-page="20"
      hide-default-footer
      class="elevation-1"
     
    >
      <template v-slot:header.check_box>
        <b-form-checkbox @change="selectedAll"></b-form-checkbox>
      </template>

      <template v-slot:item.check_box="{item}">
        <b-form-checkbox class="ckb" v-model="selected" :value="item"></b-form-checkbox>
      </template>

      <template v-slot:item.content_type_logo="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <font-awesome-icon
              ref="icontype"
              size="lg"
              v-on="on"
              :icon="getIcon(item.content_type)"
              :style="{color:getColor(item.content_type)}"
            />
          </template>
          <span>{{item.content_type}}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.action="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              :disabled="!userCan('everything') && !userCan('content_edit')"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              :disabled="!userCan('everything') && !userCan('content_delete')"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <SocialContentDialog ref="socialContentDialog" @save="save"></SocialContentDialog>

    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <ContentFilterDialog
      ref="filterDialog"
      :allTypes="allTypes"
      :contentTypes="contentTypes"
      @submit="filterItem"
      @reset="resetFilter"
    ></ContentFilterDialog>
    <ContentTypeCreateDialog ref="createDialog"></ContentTypeCreateDialog>

  </div>
</template>

<script>
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import ContentCard from "./components/ContentCard.vue";
import ContentTypeCreateDialog from "./dialogs/ContentTypeCreateDialog.vue";
import ContentFilterDialog from "./dialogs/ContentFilterDialog.vue";
import SocialContentDialog from "./dialogs/SocialContentDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";
import { ToggleButton } from "vue-js-toggle-button";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  components: {
    ConfirmDialog,
    ContentCard,
    ContentFilterDialog,
    SocialContentDialog,
    ContentTypeCreateDialog,
    PageTitle,
    ToggleButton,
    "font-awesome-icon": FontAwesomeIcon
  },
  data: () => ({
    heading: "Content Types",
    subheading: "Dashboard for content type management",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./dashboard"
      },
      {
        text: "Content Types",
        disabled: true,
        href: "./content-types"
      }
    ],
    icon: "pe-7s-note2 icon-gradient bg-ripe-malin",

    nextUrl: "",
    prevUrl: "",
    selected: [],
    headers: [
      { align: "left", value: "check_box", sortable: false },
      { text: "Content Type", align: "left", value: "content_type" },
      { text: "Logo", align: "left", value: "content_type_logo" },
      { text: "Name", align: "center", value: "name" },
      {
        text: "Action",
        align: "right",
        value: "action",
        sortable: false,
        width: "110px"
      }
    ],

    icons: {
      facebook: { color: "#3b5998", class: ["fab", "facebook-square"] },
      twitter: { color: "#00acee", class: ["fab", "twitter-square"] },
      instagram: { color: "#c13584", class: ["fab", "instagram-square"] },
      youtube: { color: "#c4302b", class: ["fab", "youtube-square"] },
      weibo: { color: "#df2029", class: ["fab", "weibo"] },
      other: { color: "#333333", class: ["fas", "user-secret"] }
    },

    contents: [],

    contentTypes: [
      { value: "facebook", text: "Facebook" },
      { value: "instagram", text: "Instagram" },
      { value: "youtube", text: "Youtube" },
      { value: "twitter", text: "Twitter" },
      { value: "weibo", text: "Weibo" }
    ],
    customContentTypes: [],
    allTypes: [],

    // listViewActive: true,
    loading: true,
    user: {}
  }),
  props: {},
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
    this.initialize();
    this.loading = true;
    window.store.commit("queryData", this.allTypes);
  },
  methods: {
    initialize() {
      //this.setAllTypes();
      this.getContentTypes();
      //this.getContents();
    },
    addItem() {
      //if (this.customContentTypes.indexOf(item) != -1)
      let brand_id='29440f48-f7c8-4ac1-8ed1-9b1b5d37124e';
        this.$router.push({ path: `content-type/new/${brand_id}` });
     // else this.$refs.socialContentDialog.open(item);
    }, 
    editItem(item) {
  
        this.$router.push({ path: `content-type/${item.content_type}` });
    },
    openFilterDialog() {
      this.$refs.filterDialog.open();
    },
    filterItem(query) {
      this.query = query;
      window.store.commit("queryData", this.query);
      this.getContents();
    },
    resetFilter() {
      this.query.content_id = null;
      this.query.content_type = null;
      this.query.brand = null;
      this.query.title = null;
      this.query.sort = null;
      this.query.order = null;
      this.getContents();
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      let contentArr = [];
      let index = [];

      if (value == true) {
        if (item.content_type == "" || item.content_type == undefined) {
          for (let i = 0; i < item.length; i++) {
            contentArr.push(item[i]);
            index.push(this.contents.indexOf(contentArr[i]));
          }
        } else {
          contentArr[0] = item;
          index[0] = this.contents.indexOf(contentArr);
        }

        for (let x = 0; x < contentArr.length; x++) {
          axios
            .delete(`../api/content-type/${contentArr[x].content_type}`)
            .then(response => {

                this.contents = this.contents.filter(function(el) {
                  return el.content_type != contentArr[x].content_type;
                });
              
            });
        }
        this.selected = [];
  
      }
    },
    save(content) {
      this.addToDatabase(content);
    },
    onStatusChanged(e, item) {
      item.status = e.value;
      this.updateDatabase(item);
    },
    addToDatabase(content) {
      this.loading = true;
      this.$root.$children[0].$children[0].$refs.snackbar.show(
        "primary",
        "Fetching information. Please wait..."
      );
      axios.post("./api/social-content", content).then(response => {
        this.$router.push({ path: `content/${response.data.data.content_id}` });
      });
    },
    updateDatabase(content) {
      axios
        .put(`../api/content/${content.content_id}`, {
          status: content.status
        })
        .then(response => {});
    },
    
    getIcon(type) {
      if (type in this.icons) return this.icons[type].class;
      else return this.icons["other"].class;
    },
    getColor(type) {
      if (type in this.icons) return this.icons[type].color;
      else return this.icons["other"].color;
    },
    getContentTypes() {
      this.loading = true;
      let url = "./api/content-types";
      axios.get(url, { params: {} }).then(response => {
        this.contents = response.data.data;
       // this.setCustomContentTypes(response.data.data);
        this.loading = false;
      });
    },
    
    getDateTime(timestamp) {
      var date = new Date(timestamp);
      return date.toLocaleString();
    },
    
    userCan(name) {
      return (
        this.user.roles[0].permissions.find(e => e.name == name) != undefined
      );
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    deleteSelected() {
      if (
        this.selected != null &&
        this.selected != undefined &&
        this.selected != ""
      ) {
        this.$refs.confirmDialog.open(this.selected);
      }
    },
    selectedAll(e) {
      this.selected = [];

      if (e == true) {
        for (let i = 0; i < this.contents.length; i++) {
          this.selected.push(this.contents[i]);
        }
      }
    },
    createDialog(){
      this.$refs.createDialog.open();
      // let brand_id='29440f48-f7c8-4ac1-8ed1-9b1b5d37124e';
      //   this.$router.push({ path: `content-type/new/${brand_id}` });
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar-mask {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .cut-text {
    width: 350px;
  }
}

.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}
.v-application .success {
  background-color: #3ac47d !important;
}
</style>
