<template>
  <div>
    <page-title :heading="heading" :subheading="subheading" :breadcrumb="breadcrumb" :icon="icon"></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <b-row>
      <b-col md="6">
        <b-card title="Overall" class="main-card mb-3">
          <PieChart ref="pieChart" :colors="colors" :stats="stats"></PieChart>
        </b-card>
      </b-col>
      <b-col md="6">
        <b-card title="New Content Last 14 days" class="main-card mb-3">
          <AreaChart ref="areaChart" :colors="colors" :stats="stats"></AreaChart>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import PageTitle from "../../Layout/Components/PageTitle.vue";
import PieChart from "./components/PieChart.vue";
import AreaChart from "./components/AreaChart.vue";

import { library } from "@fortawesome/fontawesome-svg-core";
import { faUserSecret } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
} from "@fortawesome/free-brands-svg-icons";

library.add(
  faUserSecret,
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
);

export default {
  components: {
    PageTitle,
    PieChart,
    AreaChart,
    "font-awesome-icon": FontAwesomeIcon
  },
  data: () => ({
    heading: "Dashboard",
    subheading: "Dashboard for admin management",
    breadcrumb: [
      {
        text: "Home",
        disabled: true,
        href: "./"
      }
    ],
    icon: "pe-7s-monitor icon-gradient bg-ripe-malin",

    colors: {
      facebook: "#3b5998",
      twitter: "#00acee",
      instagram: "#c13584",
      youtube: "#c4302b",
      weibo: "#df2029",
      place: "#000000",
      other: "#333333"
    },
    stats: {},
    loading: true,
  }),
  created() {
    this.getStats();
  },
  methods: {
    getStats() {
      let url = "./api/stats";

      axios.get(url).then(response => {
        this.stats = response.data[0];
        this.stats.contents =this.filterContents(this.stats.contents);

        this.$refs.pieChart.init(this.stats);
        this.$refs.areaChart.init(this.stats);
        this.loading = false;
      });
    },
    filterContents(contents){
      let filteredData=[];
      for(let i=0; i<contents.length;i++){
        if(contents[i].count > 0){
          filteredData.push(contents[i])
        }
      }
      return filteredData;
    }
  }
};
</script>
<style scoped>
</style>