<template>
  <div class="container" style="margin:auto;top:0;bottom:0;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-default">
          <div class="card-header">Admin Login</div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label text-md-right">Email Address</label>
                <div class="col-md-6">
                  <input id="email" type="email" class="form-control" v-model="email" required autofocus/>
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input id="password" type="password" class="form-control" v-model="password" required/>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary" @click="handleSubmit">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  mounted() {
    console.log(process.env.MIX_APP_NAME);
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.password.length > 0) {
        axios
          .post("./api/login", { email: this.email, password: this.password })
          .then(response => {
            let user = response.data.user;
            let role_id = user.role_id;
            localStorage.setItem(
              process.env.MIX_APP_NAME + ".user",
              JSON.stringify(user)
            );
            localStorage.setItem(
              process.env.MIX_APP_NAME + ".jwt",
              response.data.token
            );

            if (
              localStorage.getItem(process.env.MIX_APP_NAME + ".jwt") != null
            ) {
              this.$emit("loggedIn");
              if (this.$route.params.nextUrl != null) {
                this.$router.push(this.$route.params.nextUrl);
              } else {
                this.$router.push({ name: "dashboard" });
              }
            }
          })
          .catch(error => {
            alert("Incorrect email/password combination");
          });
      }
    }
  }
};
</script>