<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <v-data-table
      :headers="headers"
      :page.sync="page"
      hide-default-footer
      :items="permissions"
      sort-by="name"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Permissions</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="addItem"
                variant="success"
              >
                <v-icon dark>pe-7s-plus</v-icon>Create New
              </b-button>
            </template>
            <span>Create New Permission</span>
          </v-tooltip>
        </v-toolbar>
      </template>

      <template v-slot:item.action="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              :disabled="!isEditable(item)"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              :disabled="!isEditable(item)"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <!-- <div class="text-xs-center v-data-table elevation-1 theme--light">
      <v-pagination
        v-model="page"
        :length="3"
        circle
      ></v-pagination>
    </div>-->

    <PermissionDialog ref="permissionDialog" :formTitle="formTitle" @close="close" @save="save"></PermissionDialog>

    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
  </div>
</template>

<script>
import PermissionDialog from "./dialogs/PermissionDialog.vue";
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";

export default {
  components: {
    PermissionDialog,
    ConfirmDialog,
    PageTitle
  },
  data: () => ({
    heading: "Permissions",
    subheading: "Dashboard for permission management",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Permissions",
        disabled: true,
        href: "./permissions"
      }
    ],
    icon: "pe-7s-door-lock icon-gradient bg-ripe-malin",

    loading: false,
    page: 1,
    headers: [
      { text: "Name", align: "left", value: "name" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    permissions: [],
    editedIndex: -1,
    editedPermission: {
      name: ""
    },
    defaultItem: {
      name: ""
    }
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Permission" : "Edit Permission";
    }
  },
  mounted() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".  d fuser")
    );
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.initialize();
    this.loading = true;
  },
  methods: {
    initialize() {
      axios
        .get("./api/permissions/")
        .then(response => {
          this.permissions = response.data.data;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    addItem() {
      this.$refs.permissionDialog.open();
    },
    editItem(item) {
      this.editedIndex = this.permissions.indexOf(item);
      this.editedPermission = Object.assign({}, item);
      this.$refs.permissionDialog.open();
      this.$refs.permissionDialog.edit(item);
    },

    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
      // const index = this.permissions.indexOf(item);
      // let bool = confirm("Are you sure you want to delete this item?");
      // if (bool) {
      //   axios
      //     .delete("/api/permissions/", { params: { id: item.id } })
      //     .then(response => {
      //       if (response.data.status) {
      //         this.permissions.splice(index, 1);
      //       }
      //       else alert(response.data.message);
      //     });
      // }
    },
    confirmDelete(value, item) {
      const index = this.permissions.indexOf(item);
      if (value == true) {
        axios
          .delete("./api/permissions/", { params: { id: item.id } })
          .then(response => {
            if (response.data.status) {
              this.permissions.splice(index, 1);
            } else alert(response.data.message);
          });
      }
    },

    close() {
      setTimeout(() => {
        this.editedPermission = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save(permission) {
      if (this.editedIndex > -1) {
        Object.assign(this.permissions[this.editedIndex], permission);
        this.updateDatabase(permission);
      } else {
        this.permissions.push(permission);
        this.addToDatabase(permission);
      }
      this.close();
    },
    addToDatabase(permission) {
      axios
        .post("./api/permissions/create", {
          name: permission.name,
          permissions: permission.permissions
        })
        .then(response => {});
    },
    updateDatabase(permission) {
      axios
        .patch(`./api/permissions/${permission.id}`, {
          name: permission.name,
          permissions: permission.permissions
        })
        .then(response => {});
    },
    isEditable(item) {
      var keys = ['content','user','everything'];
      var editable = true;
      for(var i=0; i<keys.length; i++) {
        if(item.name.indexOf(keys[i]) != -1)
          editable = false;
      }
      return editable;
    }
  }
};
</script>