<template>
  <div>
    <page-title :heading="heading" :subheading="subheading" :breadcrumb="breadcrumb" :icon="icon"></page-title>

    <div style="background:#fff">
      <v-layout wrap>
        <v-flex text-xs-right xs12>
          <v-menu bottom left transition="slide-y-transition"></v-menu>
        </v-flex>
        <v-layout align-start column justify-end pa-3>
          <h6>Edit Profile</h6>
          <div class="pic-mask rounded-circle mx-auto d-block">
            <img width="150px" v-bind:src="user.profile_image" ref="imgProfile" />
            <div class="btn-upload">
              <div class="overlay"></div>
              <v-icon class="ico-upload" @click="uploadImage">pe-7s-camera</v-icon>
            </div>
          </div>
        </v-layout>
      </v-layout>

      <v-form>
        <v-container>
          <v-layout wrap>
            <v-flex md12>
              <v-text-field v-model="user.name" filled label="Name" @input="hasChanges=true"></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field v-model="user.roles[0].name" filled label="Role" readonly></v-text-field>
            </v-flex>

            <v-flex xs12 md12>
              <v-text-field v-model="user.email" filled label="Email Address" readonly></v-text-field>
            </v-flex>

            <v-flex xs12 md12>
              <b-button
                class="px-2 btn-icon btn-icon-only float-right"
                :disabled="!hasChanges"
                @click="save"
                variant="success"
              >
                Save
                <v-icon dark>pe-7s-check</v-icon>
              </b-button>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </div>
    <ImageUpload ref="imageUpload" :options="dropzoneOptions" @success="updateImage"></ImageUpload>
  </div>
</template>

<script>
import ImageUpload from "./dialogs/ImageUploadDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";

export default {
  components: {
    ImageUpload,
    PageTitle
  },
  data: () => ({
    heading: "Profile",
    subheading: "Dashboard for profile",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "/"
      },
      {
        text: "Profile",
        disabled: true,
        href: "/profile"
      }
    ],
    icon: "pe-7s-user icon-gradient bg-ripe-malin",

    user: [],
    hasChanges: false,

    dropzoneOptions: {
      url: "./api/users/image",
      autoProcessQueue: false,
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      maxFiles: 1,
      headers: {
        Authorization:
          "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt")
      }
    }
  }),
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
  },
  methods: {
    save() {
      this.updateToDatabase();
    },
    uploadImage() {
      this.$refs.imageUpload.open();
    },
    updateImage(response) {
      this.user.profile_image = response.image;
      this.$refs.imgProfile.src = this.user.profile_image;
      this.updateToDatabase();
    },
    updateToDatabase() {
      axios
        .patch(`./api/users/${this.user.id}`, {
          name: this.user.name,
          email: this.user.email,
          role_id: this.user.role_id,
          profile_image: this.user.profile_image
        })
        .then(response => {
          localStorage.setItem(
            process.env.MIX_APP_NAME + ".user",
            JSON.stringify(this.user)
          );
          this.$root.$children[0].$children[0].$refs.header.$refs.userArea.update();
          this.$root.$children[0].$children[0].$refs.snackbar.show("success","Profile has been updated");
        });
      this.hasChanges = false;
    }
  }
};
</script>

<style scoped>
.pic-mask {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.btn-upload {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.btn-upload .overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.ico-upload {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  background: #ddd;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  cursor: pointer;
}
.ico-upload:hover {
  filter: brightness(1.1);
}
</style>