<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <v-data-table
      :headers="headers"
      :page.sync="page"
      :items="roles"
      sort-by="id"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Roles</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="addItem"
                variant="success"
              >
                <v-icon dark>pe-7s-plus</v-icon>Create New
              </b-button>
            </template>
            <span>Create New Role</span>
          </v-tooltip>
        </v-toolbar>
      </template>
      <template v-slot:item.permissions="{ item }">
        <span>{{getPermissionNameList(item.permissions)}}</span>
      </template>

      <template v-slot:item.action="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <!-- <div class="text-xs-center v-data-table elevation-1 theme--light">
      <v-pagination
        v-model="page"
        :length="3"
        circle
      ></v-pagination>
    </div>-->

    <RoleDialog
      ref="roleDialog"
      :formTitle="formTitle"
      :allPermissions="permissions"
      @close="close"
      @save="save"
    ></RoleDialog>
    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
  </div>
</template>

<script>
import RoleDialog from "./dialogs/RoleDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";

export default {
  components: {
    RoleDialog,
    ConfirmDialog,
    PageTitle
  },
  data: () => ({
    heading: "Roles",
    subheading: "Dashboard for role management",
    icon: "pe-7s-note icon-gradient bg-ripe-malin",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Roles",
        disabled: true,
        href: "./roles"
      }
    ],

    loading: false,
    page: 1,
    headers: [
      { text: "Role", align: "left", value: "name" },
      { text: "Permissions", value: "permissions" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    roles: [],
    permissions: [],
    editedIndex: -1,
    editedRole: {
      name: "",
      permissions: ""
    },
    defaultItem: {
      name: "",
      permissions: ""
    }
  }),
  mounted() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".  d fuser")
    );
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Role" : "Edit Role";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.initialize();
    this.loading = true;
  },
  methods: {
    initialize() {
      this.getRoles();
      axios
        .get("./api/permissions/")
        .then(response => {
          this.permissions = response.data.data;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    addItem() {
      this.$refs.roleDialog.open();
    },
    editItem(item) {
      this.editedIndex = this.roles.indexOf(item);
      this.editedRole = Object.assign({}, item);
      this.$refs.roleDialog.open();
      this.$refs.roleDialog.edit(
        item,
        this.getPermissionNameArray(item.permissions)
      );
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      const index = this.roles.indexOf(item);
      if (value == true) {
        axios
          .delete("./api/roles/", { params: { id: item.id } })
          .then(response => this.roles.splice(index, 1));
      }
    },

    close() {
      setTimeout(() => {
        this.editedRole = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save(role) {
      if (this.editedIndex > -1) {
        // Object.assign(this.roles[this.editedIndex], role);
        this.updateDatabase(role);
      } else {
        // this.roles.push(role);
        this.addToDatabase(role);
      }
      this.close();
    },

    addToDatabase(role) {
      axios
        .post("./api/roles/create", {
          name: role.name,
          permissions: role.permissions
        })
        .then(response => {
          this.getRoles();
        });
    },
    updateDatabase(role) {
      axios
        .patch(`./api/roles/${role.id}`, {
          name: role.name,
          permissions: role.permissions
        })
        .then(response => {
          this.getRoles();
        });
    },
    getRoles() {
      axios.get("../api/roles/").then(response => {
        this.roles = response.data.data;
      });
    },
    getPermissionNameArray(array) {
      var list = [];
      array.forEach(arr => {
        list.push(arr.name);
      });
      return list;
    },
    getPermissionNameList(array) {
      return this.getPermissionNameArray(array).toString();
    }
  }
};
</script>