<template>
  <div>
    <page-title :heading="heading" :subheading="subheading" :breadcrumb="breadcrumb" :icon="icon"></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />

    <div style="background:#fff">
      <v-layout wrap>
        <v-flex text-xs-right xs12>
          <v-menu bottom left transition="slide-y-transition"></v-menu>
        </v-flex>
        <v-layout align-start column justify-end pa-3>
          <h6>Edit Settings</h6>
        </v-layout>
      </v-layout>

      <v-form>
        <v-container>
          <v-layout wrap>
            <v-flex md12>
              <small>Brand Logo (97 x 23px)</small>
              <div class="mb-6 d-flex">
                <div class="d-flex align-center">
                  <img
                    class="img-logo mr-2"
                    width="150px"
                    height="auto"
                    v-bind:src="settings.brand_logo"
                    ref="imgLogo1"
                  />
                </div>
                <b-button
                  class="px-2 btn-icon btn-icon-only"
                  variant="primary"
                  @click="uploadImage('logo')"
                >
                  <v-icon class="ico-upload btn-icon-only px-0">pe-7s-camera</v-icon>
                </b-button>
              </div>
              <small>Brand Logo (Light Theme)</small>
              <div class="mb-6 d-flex">
                <div class="d-flex align-center">
                  <img
                    class="mr-2"
                    width="150px"
                    height="auto"
                    v-bind:src="settings.brand_logo_inverse"
                    ref="imgLogo2"
                  />
                </div>
                <b-button
                  class="px-2 btn-icon btn-icon-only"
                  variant="primary"
                  @click="uploadImage('logo-inverse')"
                >
                  <v-icon class="ico-upload btn-icon-only px-0">pe-7s-camera</v-icon>
                </b-button>
              </div>
            </v-flex>

            <v-flex md12>
              <v-text-field
                v-model="settings.brand_name"
                filled
                label="Brand Name"
                @input="hasChanges=true"
              ></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field
                v-model="settings.live_url"
                filled
                label="Live Url"
                @input="hasChanges=true"
              ></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field
                v-model="settings.staging_url"
                filled
                label="Staging Url"
                @input="hasChanges=true"
              ></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field
                v-model="settings.ahc_brand_id"
                filled
                label="AHC Brand ID"
                @input="hasChanges=true"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md12>
              <v-textarea
                v-model="settings.ahc_access_token"
                filled
                rows="12"
                label="AHC Access Token"
                @input="hasChanges=true"
              ></v-textarea>
            </v-flex>

            <v-flex xs12 md12>
              <b-button
                class="px-2 btn-icon btn-icon-only float-right"
                :disabled="!hasChanges"
                @click="save"
                variant="success"
              >
                Save
                <v-icon dark>pe-7s-check</v-icon>
              </b-button>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </div>
    <ImageUpload ref="imageUpload" :options="dropzoneOptions" @success="updateImage"></ImageUpload>
  </div>
</template>

<script>
import ImageUpload from "./dialogs/ImageUploadDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";

export default {
  components: {
    ImageUpload,
    PageTitle
  },
  data: () => ({
    heading: "Settings",
    subheading: "Dashboard for settings",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Settings",
        disabled: true,
        href: "./settings"
      }
    ],
    icon: "pe-7s-settings icon-gradient bg-ripe-malin",

    settings: [],
    hasChanges: false,
    loading: true,

    dropzoneOptions: {
      url: "./api/settings/image",
      params: {
        name: ''
      },
      autoProcessQueue: false,
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      maxFiles: 1,
      headers: {
        Authorization:
          "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt")
      }
    }
  }),
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.getSettings();
  },
  methods: {
    save() {
      this.updateToDatabase();
    },
    uploadImage(name) {
      this.dropzoneOptions.params.name = name;
      this.$refs.imageUpload.open();
    },
    updateImage(response) {
      if(this.dropzoneOptions.params.name == 'logo')
        this.$refs.imgLogo1.src = response.image;
      else this.$refs.imgLogo2.src = response.image;

      this.$root.$children[0].$children[0].$refs.snackbar.show(
        "info",
        "Logo on sidebar need a page refresh to take effect."
      );
    },
    updateToDatabase() {
      axios.patch(`./api/settings`, this.settings).then(response => {
        this.$root.$children[0].$children[0].$refs.snackbar.show(
          "success",
          "Settings has been updated"
        );
      });
      this.hasChanges = false;
    },
    getSettings() {
      axios.get("./api/settings").then(response => {
        this.settings = this.arrayToObject(response.data);
        this.loading = false;
      });
    },
    arrayToObject(array) {
      var object = {};
      array.forEach((obj, i) => {
        object[obj["key"]] = obj["value"];
      });
      return object;
    }
  }
};
</script>

<style scoped>
.img-logo {
  background-color: #555;
}
.ico-upload {
  position: relative;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
</style>