<template>
  <div>
    <page-title :heading="heading" :subheading="subheading" :breadcrumb="breadcrumb" :icon="icon"></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    

    <div style="background:#fff">
          <v-layout wrap>
            
            <v-layout align-start column justify-end pa-3>
              <h3>Survey Library:</h3>
              <!-- <survey style="width:100%; background:#F5F5F5" :survey="survey"></survey> -->
              
              <b-button v-on:click="savePDF">Save PDF</b-button>
              <div id="surveyResult"></div>
              
              <br>
              <h3>Survey Creator:</h3>
              <SurveyCreator @creatorData="surveyCreatorData"></SurveyCreator>
 
            </v-layout>
          </v-layout>
    </div>
  
  </div>
</template>

<script>
import PageTitle from "../../Layout/Components/PageTitle.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faUserSecret } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
} from "@fortawesome/free-brands-svg-icons";

import SurveyCreator from "./components/SurveyCreator.vue";
import * as SurveyVue from "survey-vue";
import * as SurveyPDF from "survey-pdf";
import * as SurveyKo from "survey-knockout";

var Survey = SurveyVue.Survey;
Survey.cssType = "bootstrap";

//Survey.onComplete.add(sendDataToServer());

library.add(
  faUserSecret,
  faFacebookSquare,
  faTwitterSquare,
  faInstagramSquare,
  faWeibo,
  faYoutubeSquare
);

export default {
  components: {
    PageTitle,
    "font-awesome-icon": FontAwesomeIcon,
    Survey,
    SurveyCreator
  },
  data: () => ({
    json : {
        title: "Survey example",
        pages: [
        {
        name: "page1",
        elements: [
            {
            type: "dropdown",
            name: "question1",
            choices: [
            {
            value: "item1",
            text: "ans 1"
            },
            {
            value: "item2",
            text: "ans 2 "
            },
            {
            value: "item3",
            text: "ans 3"
            }
            ]
            },
            {
            type: "radiogroup",
            name: "question2",
            choices: [
            "item1",
            "item2",
            "item3"
            ]
            }
        ]
        }
        ]
    },
    heading: "Survey",
    subheading: "Dashboard for survey management",
    breadcrumb: [
      {
        text: "Home",
        disabled: true,
        href: "/"
      },
      {
        text: "Survey",
        disabled: true,
        href: "/survey"
      }
    ],
    icon: "pe-7s-monitor icon-gradient bg-ripe-malin",

    colors: {
      facebook: "#3b5998",
      twitter: "#00acee",
      instagram: "#c13584",
      youtube: "#c4302b",
      weibo: "#df2029",
      place: "#000000",
      other: "#333333"
    },
    stats: {},
    loading: true,
    survey:{}
    
  }),
  created() {

    this.survey = new SurveyVue.Model(this.json);   
    this.loading = false;
  },
  methods: {
    
    savePDF(){
      var surveyPDF = new SurveyPDF.SurveyPDF(this.json);
      surveyPDF.data = this.survey.data;
      surveyPDF.mode = "display";
      surveyPDF.save();
    },
    sendDataToServer(survey) {
      var resultAsString = JSON.stringify(survey.data);
      
      alert(resultAsString); //send Ajax request to your web server.
    },
    surveyCreatorData(value){
      console.log(value);
    }
    
  }
};
</script>
<style scoped>
</style>