<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />
    <v-data-table
      :headers="headers"
      :page.sync="page"
      :items="surveys"
      sort-by="CreatedAt"
      hide-default-footer
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Surveys</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="openNameDialog"
                variant="success"
              >
                <v-icon dark>pe-7s-plus</v-icon>Create New
              </b-button>
            </template>
            <span>Create New Survey</span>
          </v-tooltip>
        </v-toolbar>
      </template>
      
      <template v-slot:item.CreatedAt="{item}">
        <span>{{getDateTime(item.CreatedAt)}}</span>
      </template>

      <template v-slot:item.action="{ item }">

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="success"
              @click="seeSurvey(item)"
            >
              <v-icon small class="pe-7s-look" color="white"></v-icon>
            </b-button>
          </template>
          <span>View</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="primary"
              @click="seeResult(item)"
            >
              <v-icon small class="pe-7s-graph3" color="white"></v-icon>
            </b-button>
          </template>
          <span>Result</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              @click="editItem(item)"
            >
              <v-icon small class="pe-7s-note" color="white"></v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              @click="deleteItem(item)"
            >
              <v-icon small class="pe-7s-trash" color="white"></v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <SurveyNameDialog ref="surveyNameDialog" @submit="addItem"></SurveyNameDialog>
  </div>
</template>

<script>
import PageTitle from "../../Layout/Components/PageTitle.vue";
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import SurveyNameDialog from "./dialogs/SurveyNameDialog.vue";

export default {
  components: {
    ConfirmDialog,
    SurveyNameDialog,
    PageTitle,
  },
  data: () => ({
    heading: "Surveys",
    subheading: "Dashboard for survey management",
    icon: "pe-7s-note icon-gradient bg-ripe-malin",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Surveys",
        disabled: true,
        href: "./surveys"
      }
    ],

    loading: false,
    page: 1,
    headers: [
      { text: "Name", align: "left", value: "Name" },
      { text: "Created", value: "CreatedAt" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],
    surveys: [],
    editedIndex: -1,
    editedSurvey: {
      name: "",
      id: ""
    },
    defaultItem: {
      name: "",
      id: ""
    },
    accessKey: '233c0b9ef7fa4c59a8547aa3125aba29'
  }),
  mounted() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".  d fuser")
    );
    // this.accessKey = process.env.MIX_SURVEY_ACCESS_KEY;
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Survey" : "Edit Survey";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.initialize();
    this.loading = true;
  },
  methods: {
    initialize() {
      this.getSurveys();
    },
    openNameDialog() {
      this.$refs.surveyNameDialog.open();
    },
    addItem(name) {
      axios
        .get("https://surveyjs.io/api/MySurveys/create?accessKey="+this.accessKey+"&name="+name)
        .then(response => this.$router.push({ path: `survey/${response.data.Id}` }));
    },
    editItem(item) {
      this.$router.push({ path: `survey/${item.Id}` });
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      this.loading = true;
      const index = this.surveys.indexOf(item);
      if (value == true) {
        axios
          .get("https://surveyjs.io/api/MySurveys/delete/"+item.Id+"?accessKey="+this.accessKey)
          .then(response => {
            this.surveys.splice(index, 1);
            this.loading = false;
          });
      }
    },
    seeResult(item) {
      window.open('https://surveyjs.io/Results/Survey/'+item.Id,'_blank');
    },
    seeSurvey(item) {
      window.open('https://surveyjs.io/published?id='+item.Id,'_blank');
    },
    getDateTime(timestamp) {
      var date = new Date(timestamp);
      return date.toLocaleString();
    },
    getSurveys() {
      axios.get("https://surveyjs.io/api/MySurveys/getActive?accessKey="+this.accessKey).then(response => {
        this.surveys = response.data;
        this.loading = false;
      });
    },
  }
};
</script>