<template>
  <div>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />

    <div id="surveyContainer">
      <div id="creatorElement"></div>
    </div>
  </div>
</template>

<script>
import * as SurveyCreator from "survey-creator";
// import * as widgets from "surveyjs-widgets";
import "survey-creator/survey-creator.css";

export default {
  data: () => ({
    loading: false,
    accessKey: "233c0b9ef7fa4c59a8547aa3125aba29"
  }),
  mounted() {
    // this.accessKey = process.env.MIX_SURVEY_ACCESS_KEY;
    this.loading = true;
    this.getSurveyInfo();
  },
  methods: {
    initialize(json) {
      let _this = this;
      let options = { showEmbededSurveyTab: true, showLogicTab: true };
      this.surveyCreator = new SurveyCreator.SurveyCreator(
        "creatorElement",
        options
      );
      this.surveyCreator.showToolbox = "right";
      this.surveyCreator.showPropertyGrid = "right";
      this.surveyCreator.rightContainerActiveItem("toolbox");
      if (json != null) this.surveyCreator.text = json.replace(/&quot;/g, '"');

      // this.surveyCreator.loadSurvey(this.getSurveyIdFromUrl());

      this.surveyCreator.saveSurveyFunc = function() {
        _this.loading = true;
        _this.updateJson(this.text);
      };
    },
    updateJson(data) {
      axios
        .post(
          "https://surveyjs.io/api/MySurveys/changeJson?accessKey=" +
            this.accessKey,
          {
            Id: this.getSurveyIdFromUrl(),
            Json: data
          }
        )
        .then(response => {
          this.loading = false;
          this.$root.$children[0].$children[0].$refs.snackbar.show(
            "success",
            "Survey has been updated"
          );
        });
    },
    getSurveyInfo() {
      axios
        .get(
          "https://surveyjs.io/api/MySurveys/getSurveyInfo?accessKey=" +
            this.accessKey +
            "&surveyId=" +
            this.getSurveyIdFromUrl()
        )
        .then(response => {
          this.loading = false;
          this.initialize(response.data.Json);
        });
    },
    getSurveyIdFromUrl() {
      var array = window.location.href.split("/");
      return array[array.length - 1];
    }
  }
};
</script>

<style>
@import "https://surveyjs.azureedge.net/1.5.17/survey-creator.css";
@import "https://surveyjs.azureedge.net/1.5.17/modern.css";

.sv_main {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Arial, sans-serif;
}

.sv_main .sv_container h3 {
  font-size: 2em !important;
  font-weight: 300 !important;
  word-break: break-word;
  line-height: normal;
  text-transform: none !important;
}
</style>