<template>
  <div>
    <page-title
      :heading="heading"
      :subheading="subheading"
      :breadcrumb="breadcrumb"
      :icon="icon"
      @create-new="addItem"
    ></page-title>
    <vue-element-loading :active="loading" spinner="line-scale" color="var(--info)" />

    <v-data-table
      :headers="headers"
      :page.sync="pagination.current_page"
      loading="true"
      :items="users"
      sort-by="id"
      :items-per-page="pagination.per_page"
      :search="search"
      hide-default-footer
      class="elevation-1"
      
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <!-- <v-toolbar-title>Users</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>-->
          <!-- <SearchBox @search="searchByKeyword" @close="initialize" /> -->
          <!-- <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details></v-text-field> -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="openFilterDialog"
                variant="secondary"
              >
                <v-icon dark>pe-7s-filter</v-icon>
              </b-button>
            </template>
            <span>Filter</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <b-button
                class="px-2 btn-icon btn-icon-only"
                v-on="on"
                @click="addItem"
                variant="success"
              >
                <v-icon dark>pe-7s-plus</v-icon>Create New
              </b-button>
            </template>
            <span>Create New User</span>
          </v-tooltip>
        </v-toolbar>
      </template>

      <!-- <template v-slot:item.dataIndex="{item}">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
             {{users.map(function(x) {return x.id; }).indexOf(item.id)}}
          </div>
        </div>
      </template> -->

      <template v-slot:item.name="{ item }">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
            <div class="widget-content-left mr-3">
              <div class="avatar-mask widget-content-left rounded-circle">
                <img width="40" :src="item.profile_image" alt />
              </div>
            </div>
            <div class="widget-content-left flex2">
              <div class="widget-heading">{{item.name}}</div>
              <div class="widget-subheading opacity-7">{{item.email}}</div>
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.role_id="{ item }">
        <v-chip small :color="getColor(item.role_id)" dark>
          <span>{{getRoleName(item.role_id)}}</span>
        </v-chip>
      </template>
      <template v-slot:item.status="{ item }">
        <toggle-button
          name="status"
          @change="onStatusChanged($event,item)"
          :value="item.status == 1"
          :labels="{checked: 'Active', unchecked: 'Inactive'}"
          :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
          :width="70"
        />
      </template>
      <template v-slot:item.action="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="warning"
              @click="editItem(item)"
            >
              <v-icon small>edit</v-icon>
            </b-button>
          </template>
          <span>Edit</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <b-button
              class="px-2 btn-icon btn-icon-only"
              v-on="on"
              variant="danger"
              @click="deleteItem(item)"
            >
              <v-icon small>delete</v-icon>
            </b-button>
          </template>
          <span>Delete</span>
        </v-tooltip>
      </template>
    </v-data-table>
    <UserDialog
      ref="userDialog"
      :formTitle="formTitle"
      :roles="roles"
      :status="status"
      @close="close"
      @save="save"
    ></UserDialog>
    <ConfirmDialog ref="confirmDialog" @yes="confirmDelete"></ConfirmDialog>
    <FilterDialog ref="filterDialog" @submit="filterItem" @reset="resetFilter"></FilterDialog>

    <div class="text-xs-center v-data-table elevation-1 theme--light">
      <br />
      <v-pagination
        v-model="pagination.current_page"
        :length="Math.ceil(pagination.total/pagination.per_page)"
        @input="getUsers"
        circle
      ></v-pagination>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
import ConfirmDialog from "./dialogs/ConfirmDialog.vue";
import FilterDialog from "./dialogs/UserFilterDialog.vue";
import UserDialog from "./dialogs/UserDialog.vue";
import PageTitle from "../../Layout/Components/PageTitle.vue";
// import SearchBox from "../../Layout/Components/Header/SearchBox.vue";
import { ToggleButton } from "vue-js-toggle-button";

export default {
  components: {
    ConfirmDialog,
    FilterDialog,
    UserDialog,
    PageTitle,
    // SearchBox,
    ToggleButton
  },
  data: () => ({
    heading: "Users",
    subheading: "Dashboard for admin management",
    breadcrumb: [
      {
        text: "Home",
        disabled: false,
        href: "./"
      },
      {
        text: "Users",
        disabled: true,
        href: "./users"
      }
    ],
    icon: "pe-7s-users icon-gradient bg-ripe-malin",

    search: "",
    
    headers: [
      { text: "#", align: "left", value: "id" },
      //{ text: "#", align: "left", value: "dataIndex" },
      { text: "Name", align: "left", value: "name" },
      // { text: "Email Address", value: "email" },
      { text: "Role", align: "center", value: "role_id" },
      { text: "Created At", value: "created_at" },
      { text: "Status", align: "center", value: "status" },
      { text: "Action", align: "right", value: "action", sortable: false }
    ],

    badge: "badge",
    status: [
      { id: 1, text: "Active", class: "badge-success" },
      { id: 2, text: "Draft", class: "badge-secondary" },
      { id: 0, text: "Delete", class: "badge-danger" }
    ],
    roles: [],
    users: [],
    pagination: {
      curre_page: 1,
      per_page: 10,
      total: 10
    },
    query: {
      name: null,
      email: null,
      status: null
    },
    editedIndex: -1,
    editedUser: {
      name: "",
      email: "",
      role_id: 1,
      profile_image: ""
    },
    defaultItem: {
      name: "",
      email: "",
      role_id: 1,
      profile_image: ""
    }
  }),
  props: {},
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit User";
    }
  },
  created() {
    this.user = JSON.parse(
      localStorage.getItem(process.env.MIX_APP_NAME + ".user")
    );
    this.initialize();
    this.loading = true;
  },
  methods: {
    initialize() {
      axios
        .get("./api/roles/")
        .then(response => {
          this.roles = response.data.data;
          this.loading = false;
        });

      this.getUsers();
    },
    addItem() {
      this.$refs.userDialog.open();
      this.$refs.userDialog.generatePassword();
    },
    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.editedUser = Object.assign({}, item);
      this.$refs.userDialog.open();
      this.$refs.userDialog.edit(item);
    },
    openFilterDialog() {
      this.$refs.filterDialog.open();
    },
    filterItem(query) {
      this.query = query;
      this.getUsers();
    },
    resetFilter() {
      this.query.name = null;
      this.query.email = null;
      this.query.status = null;
      this.getUsers();
    },
    deleteItem(item) {
      this.$refs.confirmDialog.open(item);
    },
    confirmDelete(value, item) {
      let index = this.users.indexOf(item);
      if (value == true) {
        axios
          .delete("./api/users/", { params: { id: item.id } })
          .then(response => this.users.splice(index, 1))
          .finally(this.getUsers());
      }
    },
    close() {
      setTimeout(() => {
        this.editedUser = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save(user) {
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], user);
        this.updateDatabase(user);
      } else {
        //this.users.push(user);
        this.addToDatabase(user);
      }
      this.close();
    },
    onStatusChanged(e, item) {
      item.status = e.value == 1 ? 1 : 2;
      this.updateDatabase(item);
    },
    searchByKeyword(key) {
      axios.get("./api/users/search/" + key, {}).then(response => {
        this.users = response.data.data;
      });
    },
    addToDatabase(user) {
      //console.log(user);
      axios
        .post("./api/users/create", {
          name: user.name,
          email: user.email,
          password: user.password,
          role_id: user.role_id,
          status: user.status,
          profile_image: user.profile_image
        })
        .then(response => {
          this.initialize();
        });
    },
    updateDatabase(user) {
      axios
        .patch(`./api/users/${user.id}`, {
          name: user.name,
          email: user.email,
          role_id: user.role_id,
          status: user.status,
          password: user.password
        })
        .then(response => {});
    },
    getParamsQuery() {
      let _this = this;
      let param = {};

      Object.keys(this.query).forEach(function(key) {
        if (_this.query[key] != null && _this.query[key] != "") {
          param[key] = _this.query[key];
        }
      });

      return param;
    },
    getStatusById(id) {
      return this.status.find(e => e.id == id);
    },
    getRoleName(id) {
      if (this.roles.find(e => e.id == id) == undefined) return "";
      else return this.roles.find(e => e.id == id).name;
    },
    getUsers(page = 1) {
      let url = "./api/users?page=" + page;

      axios.get(url, { params: this.getParamsQuery() }).then(response => {
        this.users = response.data.data;
        this.pagination = response.data;
        console.log(this.pagination)
        delete this.pagination["data"];
      });
    },
    getColor(role_id) {
      if (role_id == 1) return "green";
      else if (role_id == 2) return "orange";
      else return "red";
    },
    // customSort(items, index, isDesc) {
      
    //   items.sort((a, b) => {
    //     if (index == "id") {
    //       if (isDesc) {
    //         return a.id - b.id;
    //       } else {
    //         return b.id - a.id;
    //       }
    //     }
    //   });
    //   return items;
    // }
  }
};
</script>

<style>
.avatar-mask {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
</style>