<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title>Confirmation</v-card-title>
        <v-card-text>Are you sure want to delete <b>{{item.name}}</b>?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.prevent="handleClick(false)">No</v-btn>
          <v-btn color="blue darken-1" text @click.prevent="handleClick(true)">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
  <!-- <v-btn color="blue darken-1" text @click="close" @click.prevent="handleClick(false)">Cancel</v-btn>
  <v-btn color="blue darken-1" text @click="validate" @click.prevent="handleClick(true)">Save</v-btn>-->
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    item: "",
    section:"",
  }),
  props: {
    conTitle: String
  },
  methods: {
    handleClick(confirmed) {
      if (confirmed == true) {
        this.$emit("yes", confirmed, this.item,this.section);
        this.dialog = false;
      } else {
        this.$emit("no", confirmed, this.item,this.section);
        this.dialog = false;
      }
    },
    open(item) {
      this.dialog = true;
      this.item = item;
    },
    openEdit(item,section){
      this.dialog = true;
      this.item = item;
      this.section=section;
    }
  }
};
</script>