<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" max-width="500">
      <form id="filterform">
        <v-card class="p-5 pb-3">
          <h4>Content Filter</h4>
          <br />
          <v-flex>
            <v-text-field v-model="id" label="Content ID" clearable></v-text-field>
          </v-flex>
          <v-flex>
            <v-select label="Content Type" v-model="selectedType" :items="contentTypes" multiple chips>
              <template v-slot:prepend-item>
                <v-list-item
                  ripple
                  @click="toggle()"
                >
                  <v-list-item-action>
                    <v-icon :color="selectedType.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Select All</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-divider class="mt-2"></v-divider>
              </template>
            </v-select>
          </v-flex>
          <v-flex>
            <v-text-field v-model="title" label="Title" clearable></v-text-field>
          </v-flex>
          <v-flex>
            <v-select
              label="Created Time"
              v-model="selectedOrder"
              :items="orderTypes"
            ></v-select>
          </v-flex>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="reset">Reset</v-btn>
            <v-btn color="blue darken-1" text @click="submit">Submit</v-btn>
          </v-card-actions>
          <!-- <b-button
              class="mt-2 px-5 btn-icon btn-icon-only btn-shadow"
              variant="success"
              @click="submit"
            >Submit</b-button>

            <b-button
              class="ml-3 px-5 btn-icon btn-icon-only btn-shadow"
              @click="reset"
              variant="success"
          >Reset</b-button>-->
        </v-card>
      </form>
    </v-dialog>
  </v-layout>
</template>

<script>
import { ToggleButton } from "vue-js-toggle-button";

export default {
  components: {
    ToggleButton
  },
  data: () => ({
    dialog: false,
    // name: null,
    // email: null,
    // status: null,
    id: null,
    brand: null,
    title: null,
    orderTypes: [
      { value: "desc", text: "Descending" },
      { value: "asc", text: "Ascending" }
    ],
    selectedOrder: "desc",
    selectAllData:false
  }),
  props: {
    allTypes: Array,
    contentTypes: Array
  },
  created() {
   // this.selectedType = this.allTypes;
    this.selectedType = [];
  },
  computed: {
    // isSelectAll () {
    //   return this.selectedType.length === this.contentTypes.length
    // },
    // isSelectSome () {
    //   return this.selectedType.length > 0 && !this.isSelectAll
    // },
    icon () {
      if (this.selectAllData) return 'mdi-close-box'
      if (this.selectAllData) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    },
  },
  methods: {
    open() {
      this.dialog = true;
      this.editing = false;
    },
    submit() {
      let query = {
        content_id: this.id,
        brand: this.brand,
        title: this.title,
        content_type: this.selectedType.toString(),
        sort: "created",
        order: this.selectedOrder
      };
      this.$emit("submit", query);
      this.dialog = false;
    },
    reset() {
      this.id = null;
      //this.selectedType = this.allTypes;
      this.selectedType = [];
      this.brand = null;
      this.title = null;
      this.order = "desc";
      this.$emit("reset");
      this.dialog = false;
    },
    setAllContentTypes() {
      return "facebook,twitter,youtube,instagram,weibo";
    },
    toggle () {

      this.selectAllData =! this.selectAllData;
      let data = this.contentTypes.slice();
      
        if (this.selectAllData == false) {
          this.selectedType.splice(0,data.length);
          
        } else {
          for(let i=0; i<this.contentTypes.length;i++){
            this.selectedType.push(data[i].text)
          }
        }
      
      
      // this.$nextTick(() => {
      //   if (this.isSelectAll) {
      //     this.selectedType = []
      //   } else {
      //     this.selectedType = this.contentTypes.slice()
      //   }
      // })
      
    },
  }
};
</script>