<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <v-select
                  :items="dataType"
                  item-text="Data Type"
                  label="Data Type"
                  item-value='dataType'
                  v-model="local.dataType"
                  :rules="rules.dataType"
                  persistent-hint
                  return-object
                  single-line
                  :readonly="readonlyCheck()"
                ></v-select>
              </v-col>
              
              <v-col cols="12">
                <v-text-field v-model="local.name" label="Name" :prefix='getContentIdFromUrl()' :rules="rules.name" :readonly="readonlyCheck()" ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="local.label" label="Label" :rules="rules.label"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  :items="dataModel"
                  item-text="name"
                  item-value="id"
                  label="Linked Model"
                  v-model="local.model"
                  :rules="rules.model"
                  persistent-hint
                  return-object
                  single-line
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="validate">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    type:'',
    prevName:'',
    local: {
      dataType: "",
      name: "",
      label: "",
      model: "",
    },
    rules: {
      dataType:  [v => !!v || "Data Type is required"],
      name:  [v => !!v || "Name is required"],
      label:  [v => !!v || "Label is required"],
      model:  [v => !!v || "Model is required"],
    },

    dataType:['keyword', 'text', 'integer', 'float', 'boolean', 'image', 'multi Image'],
    dataModel:['content','brand','category'],
    prefix:'',

  }),
  props: {
    roles: Array,
    status: Array,
    formTitle: String
  },
  created(){
    this.prefix= this.getContentIdFromUrl()+'_';
    
  },
  methods: {
    open(data) {
      this.type='';
      if(data != undefined){
        this.prevName=data.name;
        this.type='edit';
        this.local.dataType=data.datatype;
        this.local.name=data.name;
        this.local.label=data.label;
        this.local.model=data.model;
      }
      this.dialog = true;
      this.editing = false;
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();

    },
    save() {
     let params={};
     if(this.type == 'edit'){
       params={
        'datatype':this.local.dataType,
        'name':this.local.name,
        'label':this.local.label,
        'model':this.local.model,
        'type':this.type,
        'prevName':this.prevName
     };
     }else{
        params={
        'datatype':this.local.dataType,
        'name':this.prefix+this.local.name,
        'label':this.local.label,
        'model':this.local.model,
        'type':this.type,
        'prevName':this.prevName
     };
     }
      
 
      this.$emit("save", params);
      
      this.dialog = false;
      this.$refs.form.reset();
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    },
    readonlyCheck(){
      if(this.type =='edit'){
        return true;
      }else{
        return false;
      }
    },
    getContentIdFromUrl() {
      if(this.type =='edit'){
        return undefined;
      }else{
        var array = window.location.href.split("/");
        return array[array.length - 1];
      }
      
    },
    
  }
};
</script>