<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title>
        <span class="headline">{{dialogType}}</span>
      </v-card-title>

      <v-container>
        <div class="my-5">
          <v-autocomplete v-model="selected" :items="targetOptions()"></v-autocomplete>
        </div>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="submit">Add</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    type: null,
    title: null,
    selected: null,

    optionsPost: [
      { value: null, text: "Start typing to Search" },
      { value: "image", text: "Image" },
      { value: "video", text: "Video" },
      { value: "text", text: "Text" },
      { value: "album", text: "Album" },
      { value: "share", text: "Share" },
      { value: "article", text: "Article" }
    ],
    optionsCategory: [{ value: null, text: "Start typing to Search" }],
    optionsCountry: [{ value: null, text: "Start typing to Search" }],

    dialogType: ""
  }),
  mounted() {
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem(process.env.MIX_APP_NAME + ".jwt");
  },
  created() {
    this.getCountryList();
  },
  methods: {
    open(type) {
      this.dialogType = type;
      this.dialog = true;
    },
    submit() {
      if (this.selected != null) {
        this.$emit("add", this.dialogType, this.selected);
      }
      this.dialog = false;
    },
    close() {
      this.selected = null;
      this.dialog = false;
    },
    targetOptions() {
      if (this.dialogType == "Post Type") return this.optionsPost;
      else if (this.dialogType == "Category") return this.optionsCategory;
      else if (this.dialogType == "Country") return this.optionsCountry;
    },
    getCountryList() {
      axios.get(`/api/country`).then(response => {
        let arr = Object.entries(response.data);
        if (this.optionsCountry.length > 1) return;

        arr.forEach(([key, value]) => {
          this.optionsCountry.push({value:key,text:value.name});
        });
      });
    }
  }
};
</script>