<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-row>
              
              <v-col cols="12">
                <v-text-field v-model="name" label="Name" ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="description" label="Description" ></v-text-field>
              </v-col>
              
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="create">Create</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    name:'',
    description:'',   
  }),
  props: {
    roles: Array,
    status: Array,
    formTitle: String
  },
  methods: {
    open() {
      this.dialog = true;
      this.editing = false;
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
    },
    save() {
      this.editedUser = Object.assign({}, this.local);
      this.editedUser.role_id = this.local.role.id;
      this.editedUser.status = this.local.status.id;
      this.$emit("save", this.editedUser);

      this.dialog = false;
      this.$refs.form.reset();
    },
    create() {
      axios.post("../api/content-type/"+this.name,
      { 'name':this.name, 
        'description':this.description,
        'fields':[],
        'config':{'ordering':[]},
        'brand_id': '29440f48-f7c8-4ac1-8ed1-9b1b5d37124e',
        'return_default_fields': true

       })
      .then(response => {
        this.close();
        // let brand_id='29440f48-f7c8-4ac1-8ed1-9b1b5d37124e';
        // this.$router.push({ path: `content-type/new/${brand_id}` });
        this.$router.push({ path: `content-type/${response.data.data.content_type}` });
      });

    },
    
  }
};
</script>