<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">Image Upload</span>
      </v-card-title>

      <v-container>
        <vue-dropzone
          ref="dropzone"
          id="dropzone"
          autoProcessQueue="false"
          :options="options"
          @vdropzone-file-added="added=true"
          @vdropzone-success="success"
        ></vue-dropzone>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="remove">Cancel</v-btn>
        <v-btn color="blue darken-1" text :disabled="!added" @click="upload">Upload</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
  components: {
    vueDropzone: vue2Dropzone
  },
  data: () => ({
    dialog: false,
    added: false
  }),
  props: {
    options: Object
  },
  methods: {
    open() {
      this.dialog = true;
      this.added = false;
    },
    remove() {
      this.$refs.dropzone.removeAllFiles();
      this.dialog = false;
    },
    upload() {
      this.$refs.dropzone.processQueue();
      this.$emit("uploading");
    },
    success(file, response) {
      this.$emit("success", response);
      this.remove();
    }
  }
};
</script>
<style>
.vue-dropzone > .dz-preview .dz-image {
  background-color: grey;
}
</style>