<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-col cols="12">
              <v-text-field v-model="local.name" label="Name" :rules="rules.name"></v-text-field>
            </v-col>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="validate">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    local: {
      name: "",
    },
    editedPermission: {
      name: "",
    },
    rules: {
      name: [v => !!v || "Name is required"],
    },
  }),
  props: {
    formTitle: String
  },
  methods: {
    open() {
        this.dialog = true;
    },
    edit(permission) {
        this.local = Object.assign({}, permission);
        this.local.permission = this.permissions.find(e => e.value == permission.permission_id);
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.$emit("close");
    },
    save() {
      this.editedPermission = Object.assign({}, this.local);
      this.$emit("save", this.editedPermission);

      this.dialog = false;
      this.$refs.form.reset();
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    }
  }
};
</script>