<template>
  <v-dialog v-model="dialog" max-width="900px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-col cols="12">
              <v-text-field v-model="local.name" label="Name" :rules="rules.name"></v-text-field>
            </v-col>
                <span class="float-left">Permissions</span>
                <span class="mx-2 float-left">|</span>
                <v-checkbox v-model="selectAll" class="m-0 p-0 float-left" label="All" @change="toggleAll"></v-checkbox>
            <v-col cols="12" class="d-flex flex-wrap m-0 p-0">
              <v-col cols="3" class="m-0 p-0" v-for="perm in allPermissions" v-bind:key="perm.id">
                <v-checkbox v-model="selected" class="mx-2" :label="perm.name" :value="perm.name" @change="updateSelect"></v-checkbox>
              </v-col>
            </v-col>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="validate">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    selectAll: false,
    selected: [],
    local: {
      name: "",
      permissions: ""
    },
    editedRole: {
      name: "",
      permissions: ""
    },
    rules: {
      name: [v => !!v || "Name is required"]
    }
  }),
  props: {
    allPermissions: Array,
    formTitle: String
  },
  methods: {
    open() {
      this.dialog = true;
    },
    edit(role,selected) {
      this.local = Object.assign({}, role);
      this.selected = selected;
      this.updateSelect();
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.$emit("close");
    },
    save() {
      this.editedRole = Object.assign({}, this.local);
      this.editedRole.permissions = this.selected;
      this.$emit("save", this.editedRole);

      this.dialog = false;
      this.$refs.form.reset();
    },
    toggleAll() {
      this.selected = [];
			if (this.selectAll) {
				for (let i in this.allPermissions) {
					this.selected.push(this.allPermissions[i].name);
				}
			}
    },
    updateSelect() {
      if(this.selected.length != this.allPermissions.length) {
        this.selectAll = false;
      } else this.selectAll = true;
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    }
  }
};
</script>