<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">New {{item.text}} Content</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-col cols="12">
              <v-textarea v-model="url" label="URL" :rules="rules.url" rows="1" auto-grow autofocus></v-textarea>
            </v-col>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="validate">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    item: {},
    url: "",
    rules: {
      url: [v => !!v || "URL is required"]
    }
  }),
  methods: {
    open(item) {
      this.item = item;
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.$emit("close");
    },
    save() {
      let obj = {"channel":this.item.value, "url":this.url};
      this.$emit("save",obj);

      this.dialog = false;
      this.$refs.form.reset();
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    }
  }
};
</script>