<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="local.name" label="Name" :rules="rules.name"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="local.email" label="Email Address" :rules="rules.email"></v-text-field>
              </v-col>
              <v-col cols="12" v-if="!editing">
                <v-text-field v-model="local.password" label="Password" :rules="rules.password">
                  <v-icon slot="append" color="blue" @click="generatePassword">mdi-refresh</v-icon>
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="local.role"
                  :items="roles"
                  item-text="name"
                  item-value="id"
                  label="Role"
                  persistent-hint
                  return-object
                  single-line
                  :rules="rules.role"
                ></v-select>
              </v-col>
              <!-- <v-col cols="12" sm="6" md="6">
                <v-select
                  v-model="local.status"
                  :items="status"
                  item-text="text"
                  item-value="id"
                  label="Status"
                  persistent-hint
                  return-object
                  single-line
                  :rules="rules.status"
                ></v-select>
              </v-col> -->
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="validate">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    local: {
      name: "",
      email: "",
      role_id: 0,
      password: "",
      status: "1",
    },
    editedUser: {
      name: "",
      email: "",
      role_id: 0,
      password: "",
      status: "",
      profile_image: ""
    },
    editing: false,
    rules: {
      name: [v => !!v || "Name is required"],
      role: [v => !!v || "Role is required"],
      status: [v => !!v || "Status is required"],
      email: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      password: [
        v => !!v || "Name is required",
        v => (v && v.length >= 10) || "Password must be more than 9 characters"
      ]
    },
    passwordSize: 10
  }),
  props: {
    roles: Array,
    status: Array,
    formTitle: String
  },
  methods: {
    open() {
      this.dialog = true;
      this.editing = false;
    },
    edit(user) {
      this.editing = true;
      this.local = Object.assign({}, user);
      this.local.role = this.roles.find(e => e.id == user.role_id);
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.$emit("close");
    },
    save() {
      this.editedUser = Object.assign({}, this.local);
      this.editedUser.role_id = this.local.role.id;
      this.editedUser.status = this.local.status.id;
      this.$emit("save", this.editedUser);

      this.dialog = false;
      this.$refs.form.reset();
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    },
    generatePassword(e) {
      if (e != null) e.preventDefault();

      let characters = "a-z,A-Z,0-9";
      let charactersArray = characters.split(",");
      let CharacterSet = "";
      let password = "";

      if (charactersArray.indexOf("a-z") >= 0) {
        CharacterSet += "abcdefghijklmnopqrstuvwxyz";
      }
      if (charactersArray.indexOf("A-Z") >= 0) {
        CharacterSet += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      }
      if (charactersArray.indexOf("0-9") >= 0) {
        CharacterSet += "0123456789";
      }
      if (charactersArray.indexOf("#") >= 0) {
        CharacterSet += "![]{}()%&*$#^<>~@|";
      }

      for (let i = 0; i < this.passwordSize; i++) {
        password += CharacterSet.charAt(
          Math.floor(Math.random() * CharacterSet.length)
        );
      }
      this.local.password = password;
    }
  }
};
</script>