<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" max-width="500">
      <form id="filterform">
        <v-card class="p-5 pb-3">
          <h4>User Filter</h4>
          <br />
          <v-flex>
            <v-text-field v-model="name" label="Name" clearable></v-text-field>
          </v-flex>

          <v-flex>
            <v-text-field v-model="email" label="Email" clearable></v-text-field>
          </v-flex>

          <v-flex>
            <toggle-button
              @change="onStatusChanged($event)"
              :labels="{checked: 'Status: Active', unchecked: 'Status: Inactive'}"
              :color="{checked: '#7DCE94', unchecked: '#cccccc'}"
              :width="120"
              :height="30"
              :value="true"
            />
          </v-flex>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="reset">Reset</v-btn>
            <v-btn color="blue darken-1" text @click="submit">Submit</v-btn>
          </v-card-actions>
          <!-- <br>
            <v-spacer></v-spacer>
            <b-button
              class="mt-2 px-5 btn-icon btn-icon-only btn-shadow"
              variant="success"
              @click="submit"
            >Submit</b-button>

            <b-button
              class="ml-3 px-5 btn-icon btn-icon-only btn-shadow"
              @click="reset"
              variant="success"
          >Reset</b-button>-->
        </v-card>
      </form>
    </v-dialog>
  </v-layout>
</template>

<script>
import { ToggleButton } from "vue-js-toggle-button";

export default {
  components: {
    ToggleButton
  },
  data: () => ({
    dialog: false,
    name: null,
    email: null,
    status: null
  }),
  methods: {
    open() {
      this.dialog = true;
      this.editing = false;
    },
    submit() {
      let query = { name: this.name, email: this.email, status: this.status };
      this.$emit("submit", query);
      this.dialog = false;
    },
    reset() {
      document.getElementById("filterform").reset();
      this.name = null;
      this.email = null;
      this.status = null;
      this.$emit("reset");
      this.dialog = false;
    },
    onStatusChanged(e) {
      this.status = e.value == 1 ? 1 : 2;
    }
  }
};
</script>